<footer class="py-8 pb-lg-7 footer">
    <div class="border-bottom pb-6 pb-lg-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-12 mb-lg-0 mb-6">
                    <ul class="list-inline fs-15 text-center text-lg-left mb-0">
                        <li class="list-inline-item mr-6"><a href="#" class="text-secondary lh-175">About Us</a></li>
                        <li class="list-inline-item mr-6"><a href="#" class="text-secondary lh-175">FAQs</a></li>
                        <li class="list-inline-item"><a href="#" class="text-secondary lh-175">Shipping & Return
                            Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-12 mb-lg-0 mb-6 text-center">
                    <img src="{{ '/images/logo-black-x1.png' | document_url }}" alt="Glowing">
                </div>
                <div class="col-lg-4 col-12">
                    <ul class="list-inline fs-15 text-center text-lg-right mb-0">
                        <li class="list-inline-item mr-6"><a href="#" class="text-secondary lh-175">Accessibility</a>
                        </li>
                        <li class="list-inline-item mr-6"><a href="#" class="text-secondary lh-175">Contact Us</a></li>
                        <li class="list-inline-item"><a href="#" class="text-secondary lh-175">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-6 pt-lg-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
                    <p class="mb-0">© Glowing 2022</p>
                    <ul class="list-inline fs-18 ml-3 mb-0">
                        <li class="list-inline-item mr-4">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right mt-5 mt-md-0">
                    <img src="{{ '/images/icon-pay.png' | document_url }}" alt="Pay">
                </div>
            </div>
        </div>
    </div>
</footer>