
<footer class="pt-10 pt-lg-13 footer">
    <div class="container container-xl">
        <div class="row">
            <div class="col-md-5 col-12 mb-8 mb-md-9 mb-lg-0">
                <h3 class="mb-2 mb-lg-3 text-primary fs-lg-34 fs-24">Care for Your Skin,<br>Care for Your Beauty</h3>
                <p>Give your inbox some love with new products, tips, & more.</p>
                <form class="pt-3 pr-xl-5">
                    <div class="input-group position-relative">
                        <input type="email" class="form-control rounded height-60 border-0 pr-10"
                               placeholder="Your email">
                        <button type="submit"
                                class="btn fs-29 text-secondary position-absolute pos-fixed-right-center px-5 z-index-10">
                            <svg class="icon icon-long-arrow-right">
                                <use xlink:href="#icon-long-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md col-12 mb-7 mb-lg-0 offset-lg-2">
                <h3 class="fs-20 mb-3">About Us</h3>
                <ul class="list-unstyled mb-0">
                    <li class="pb-1"><a href="#" class="text-body lh-175">About us</a></li>
                    <li class="py-1"><a href="#" class="text-body lh-175">Careers</a></li>
                    <li class="py-1"><a href="#" class="text-body lh-175">Store Locations</a></li>
                    <li class="py-1"><a href="#" class="text-body lh-175">Our Blog</a></li>
                    <li class="pt-1"><a href="#" class="text-body lh-175">Reviews</a></li>
                </ul>
            </div>
            <div class="col-md col-12 mb-8 mb-lg-0">
                <h3 class="fs-20 mb-3">Infomation</h3>
                <ul class="list-unstyled mb-0">
                    <li class="pb-1"><a href="#" class="text-body lh-175">Start a Return</a></li>
                    <li class="py-1"><a href="#" class="text-body lh-175">Contact Us</a></li>
                    <li class="py-1"><a href="#" class="text-body lh-175">Shipping FAQ</a></li>
                    <li class="py-1"><a href="#" class="text-body lh-175">Terms & Conditions</a></li>
                    <li class="pt-1"><a href="#" class="text-body lh-175">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-0 mt-lg-15 align-items-center">
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center order-2 order-lg-1 mt-4 mt-md-7 mt-lg-0">
                <p class="mb-0">© Glowing 2021</p>
                <ul class="list-inline fs-18 ml-3 mb-0">
                    <li class="list-inline-item mr-4">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 text-md-center order-1 order-lg-2">
                <img src="{{ '/images/logo-black-x1.png' | document_url }}" alt="Glowing">
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-md-right order-3 mt-4 mt-md-7 mt-lg-0">
                <img src="{{ '/images/icon-pay.png' | document_url }}" alt="Pay">
            </div>
        </div>
    </div>
    <div class="pt-9 pt-lg-12">
        <div class="slick-slider mx-0"
             data-slick-options='{"slidesToShow": 6,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1366,"settings": {"slidesToShow":5}},{"breakpoint": 992,"settings": {"slidesToShow":4}},{"breakpoint": 768,"settings": {"slidesToShow": 3}},{"breakpoint": 576,"settings": {"slidesToShow": 2}}]}'>
            <div class="box p-0">
                <a href="#" class="hover-zoom-in hover-shine d-block">
                    <img src="{{ '/images/instagram-01.jpg' | document_url }}" alt="Instagram">
                </a>
            </div>
            <div class="box p-0">
                <a href="#" class="hover-zoom-in hover-shine d-block">
                    <img src="{{ '/images/instagram-02.jpg' | document_url }}" alt="Instagram">
                </a>
            </div>
            <div class="box p-0">
                <a href="#" class="hover-zoom-in hover-shine d-block">
                    <img src="{{ '/images/instagram-03.jpg' | document_url }}" alt="Instagram">
                </a>
            </div>
            <div class="box p-0">
                <a href="#" class="hover-zoom-in hover-shine d-block">
                    <img src="{{ '/images/instagram-04.jpg' | document_url }}" alt="Instagram">
                </a>
            </div>
            <div class="box p-0">
                <a href="#" class="hover-zoom-in hover-shine d-block">
                    <img src="{{ '/images/instagram-05.jpg' | document_url }}" alt="Instagram">
                </a>
            </div>
            <div class="box p-0">
                <a href="#" class="hover-zoom-in hover-shine d-block">
                    <img src="{{ '/images/instagram-06.jpg' | document_url }}" alt="Instagram">
                </a>
            </div>
        </div>

    </div>
    <div class="py-7 bg-animation" style="background-image: url('{{ '/images/text-animation.jpg' | document_url }}')">
    </div>
</footer>

