<ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-2 navbar-right">
    <li class="nav-item">
        <a class="nav-link pr-3" href="#">
            <svg class="icon icon-user-light">
                <use xlink:href="#icon-user-light"></use>
            </svg>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link position-relative px-3" href="#">
            <svg class="icon icon-star-light">
            <use xlink:href="#icon-star-light"></use>
        </svg>
            <span class="position-absolute number">0</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link position-relative px-3 menu-cart" href="{{ '/cart.html' | document_url }}">
            <svg class="icon icon-shopping-bag-open-light">
                <use xlink:href="#icon-shopping-bag-open-light"></use>
            </svg>
            <span class="position-absolute number">0</span>
        </a>
    </li>
</ul>
