<ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
    <li class="nav-item">
        <a class="nav-link pr-3 py-0" href="#" data-toggle="modal" data-target="#sign-in">
            <svg class="icon icon-user-light">
                <use xlink:href="#icon-user-light"></use>
            </svg>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link position-relative px-4 py-0" href="{{ '/wishlist.html' | document_url }}">
            <svg class="icon icon-star-light">
                <use xlink:href="#icon-star-light"></use>
            </svg>
            <span class="position-absolute number">0</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link position-relative px-4 menu-cart py-0 d-inline-flex align-items-center mr-n2" href="#" data-canvas="true"
           data-canvas-options='{"container":".cart-canvas"}'>
            <span class="mr-2 font-weight-bold fs-15">$0.00</span>
            <svg class="icon icon-shopping-bag-open-light">
                <use xlink:href="#icon-shopping-bag-open-light"></use>
            </svg>
            <span class="position-absolute number">0</span>
        </a>
    </li>
</ul>
