<div class="primary-sidebar-inner">
    <div class="card border-0 mb-6">
        <div class="card-header bg-transparent border-0 p-0">
            <h4 class="card-title fs-20 mb-3">Categories</h4>
        </div>
        <div class="card-body p-0">
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a href="#"
                       class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none">BODY
                        CARE</a>
                </li>
                <li class="mb-2">
                    <a href="#"
                       class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none">Skin
                        care</a>
                    <ul class="list-unstyled ml-5 mt-2 mb-5">
                        <li class="mb-1">
                            <a href="#" class="text-body hover-secondary">Cleanser</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-body hover-secondary">Toner</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-body hover-secondary">Scrubs & Masks</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-body hover-secondary">Serum</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-body hover-secondary">Face Oils</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-body hover-secondary">Moisturizer</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-body hover-secondary">Eye Cream</a>
                        </li>
                    </ul>
                </li>
                <li class="mb-2">
                    <a href="#"
                       class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none">Hair
                        CARE</a>
                </li>
                <li class="mb-2">
                    <a href="#"
                       class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none">ACCESSORIES</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card border-0 mb-6">
        <div class="card-header bg-transparent border-0 p-0">
            <h4 class="card-title fs-20 mb-3">Hightlight</h4>
        </div>
        <div class="card-body p-0">
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        Best Seller
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        New Arrivals
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        Sale
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        Hot Items
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card border-0 mb-6">
        <div class="card-header bg-transparent border-0 p-0">
            <h4 class="card-title fs-20 mb-3">Price</h4>
        </div>
        <div class="card-body p-0">
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        <span>All</span>
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        <span>$50</span>
                        <span> - </span>
                        <span>$99</span>
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        <span>$100</span>
                        <span> - </span>
                        <span>$499</span>
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">
                        <span>$500</span>
                        <span> - </span>
                        <span>$2000</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card border-0 mb-6">
        <div class="card-header bg-transparent border-0 p-0">
            <h4 class="card-title fs-20 mb-3">Size</h4>
        </div>
        <div class="card-body p-0">
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">Single</a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">5 Pack</a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">Full size</a>
                </li>
                <li class="mb-2">
                    <a href="#" class="text-body hover-secondary">Mini size</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card border-0 mb-6">
        <div class="card-header bg-transparent border-0 p-0">
            <h4 class="card-title fs-20 mb-3">Color</h4>
        </div>
        <div class="card-body p-0">
            <ul class="list-unstyled mb-0 widget-color d-flex flex-column">
                <li class="mb-1">
                    <a href="#" class="d-inline-flex align-items-center text-body text-decoration-none">
                        <span class="d-block item" style="background-color: #000;"></span>
                        <span class="ml-2">Black</span>
                    </a>
                </li>
                <li class="mb-1">
                    <a href="#" class="d-inline-flex align-items-center text-body text-decoration-none">
                        <span class="d-block item border" style="background-color: #FFFFFF;box-sizing: content-box;"></span>
                        <span class="ml-2">White</span>
                    </a>
                </li>
                <li class="mb-1">
                    <a href="#" class="d-inline-flex align-items-center text-body text-decoration-none">
                        <span class="d-block item" style="background-color: #0E328E;"></span>
                        <span class="ml-2">Pink</span>
                    </a>
                </li>
                <li class="mb-1">
                    <a href="#" class="d-inline-flex align-items-center text-body text-decoration-none">
                        <span class="d-block item" style="background-color: #672612;"></span>
                        <span class="ml-2">Maroon</span>
                    </a>
                </li>
                <li class="mb-1">
                    <a href="#" class="d-inline-flex align-items-center text-body text-decoration-none">
                        <span class="d-block item" style="background-color: #C71818;"></span>
                        <span class="ml-2">Red</span>
                    </a>
                </li>
                <li class="mb-1">
                    <a href="#" class="d-inline-flex align-items-center text-body text-decoration-none">
                        <span class="d-block item" style="background-color: #5E5E5E;"></span>
                        <span class="ml-2">Dark Heathe</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card border-0" style="max-width:240px">
        <div class="card-header bg-transparent border-0 p-0">
            <h3 class="card-title fs-20 mb-3">
                Tags
            </h3>
        </div>
        <div class="card-body p-0">
            <ul class="list-inline mb-0">
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">Cleansing</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">Make up</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">eye cream</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">nail</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">oil</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">shampoo</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">coffee bean</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">healthy</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">skin care</a>
                </li>
                <li class="list-inline-item mr-2 pb-1">
                    <a href="#"
                       class="text-body hover-secondary">sale</a>
                </li>
            </ul>
        </div>
    </div>
</div>