---
layout: home-3
title: "Home 03"
category_text: "Home"
category_url: /home-03.html
---

<section style="background-color: #EDF1F0">
	<div class="container-fluid px-0">
		<div class="row align-items-center no-gutters">
			<div class="col-lg-6 text-center py-lg-0 py-11 px-sm-0 px-3">
				<div class="fs-24 font-weight-600 text-primary mb-6 letter-spacing-01" data-animate="fadeInUp">The Perfect Skincare</div>
				<h2 class="fs-xl-56 fs-lg-48 lh-13 mx-auto" style="max-width: 550px" data-animate="fadeInUp">Care for Your Skin, Care for Your Beauty</h2>
				<p class="fs-18 mx-auto" style="max-width: 454px" data-animate="fadeInUp">Made using clean, non-toxic ingredients, our products are designed for everyone.</p>
				<a href="{{ '/shop-page-04.html' | document_url }}" class="btn btn-secondary mt-3 bg-hover-primary border-hover-primary" data-animate="fadeInUp">Shop Now</a>
			</div>
			<div class="col-lg-6">
				<a href="#" class="d-block hover-zoom-in hover-shine" data-animate="fadeIn">
					<img src="{{ '/images/bg-slider-09.jpg' | document_url }}" alt="slider 09">
				</a>
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-12 pt-10">
	<div class="container container-xl">
		<h2 class="mb-3 text-center" data-animate="fadeInUp">Our Picks for You</h2>
		<p class="fs-18 mx-auto mb-8 text-center" style="max-width: 600px;" data-animate="fadeInUp">Our products are designed for everyone.</p>
		<div class="row">
			{% for image_box in site.data.home-03.image_boxs %}
			<div class="col-lg-2 col-md-4 col-sm-6">
				<div class="card border-0 text-center mb-lg-0 mb-8">
					<div class="mw-160 mx-auto hover-zoom-in rounded-circle">
						<a href="{{ image_box.url | document_url }}">
							<img src="{{ image_box.image | document_url }}" alt="{{ image_box.title }}">
						</a>
					</div>
					<div class="card-body px-0 pt-6 pb-0">
						<h4 class="fs-20"><a href="{{ image_box.url | document_url }}" class="text-decoration-none">{{
							image_box.title }}<sup class="pl-1 fs-14 font-weight-bold">{{ image_box.item }}</sup></a>
						</h4>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="pt-lg-11 pt-4">
	<div class="container container-xl">
		<div class="row">
			<div class="col-12 col-md-4 mb-3 mb-md-0">
				<div class="card border-0 text-center hover-shine hover-zoom-in">
					<img src="{{ '/images/banner-05.jpg' | document_url }}" alt="Autumn Skincare" class="card-img">
					<div class="card-img-overlay d-inline-flex flex-column p-6 justify-content-end">
						<h3 class="card-title fs-34 text-white mb-3">Autumn Skincare</h3>
						<div>
							<a href="{{ '/shop-page-04.html' | document_url }}"
							   class="btn btn-link btn-light bg-transparent text-white hover-white border-0 p-0 fs-16 font-weight-600">
								Discover Now
								<svg class="icon icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 mb-3 mb-md-0">
				<div class="card border-0 text-center hover-shine hover-zoom-in">
					<img src="{{ '/images/banner-03.jpg' | document_url }}" alt="Anti-aging Cream" class="card-img">
					<div class="card-img-overlay d-inline-flex flex-column p-6 justify-content-end">
						<h3 class="card-title fs-34 text-white mb-3">Anti-aging Cream</h3>
						<div>
							<a href="{{ '/shop-page-04.html' | document_url }}"
							   class="btn btn-link btn-light bg-transparent text-white hover-white border-0 p-0 fs-16 font-weight-600">
								Buy 1 get 1
								<svg class="icon icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 mb-md-0">
				<div class="card border-0 text-center hover-shine hover-zoom-in">
					<img src="{{ '/images/banner-04.jpg' | document_url }}" alt="Sale Up To 40% Off" class="card-img">
					<div class="card-img-overlay d-inline-flex flex-column p-6 justify-content-end">
						<h3 class="card-title fs-34 text-white mb-3">Sale Up To 40% Off</h3>
						<div>
							<a href="{{ '/shop-page-04.html' | document_url }}"
							   class="btn btn-link btn-light bg-transparent text-white hover-white border-0 p-0 fs-16 font-weight-600">
								Shop Sale
								<svg class="icon icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-12 pt-10">
	<div class="container container-xl">
		<div class="row">
			<div class="col-12">
				<ul class="nav nav-pills justify-content-center mb-lg-8 mb-6" role="tablist">
					{% for tab in site.data.home-03.tabs-id %}
					<li class="nav-item px-md-4 px-0">
						<a class="pointer nav-link {% if tab.is_active == true %}active{% endif %} text-secondary px-xl-3 py-1 lh-1 fs-lg-40 fs-md-34 fs-24 font-weight-600 bg-transparent rounded-0 text-active-secondary hover-active-opacity-3"
						   id="pills-{{ tab.name_id }}-tab" data-toggle="pill" href="#pills-{{ tab.name_id }}" role="tab"
						   aria-controls="pills-{{ tab.name_id }}" aria-selected="true">{{ tab.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="tab-content p-0 shadow-none" id="pills-tabContent">
			{% for tab in site.data.home-03.tabs %}
			<div class="tab-pane fade {% if tab.is_active == true %}show active{% endif %}" id="pills-{{ tab.title }}"
			     role="tabpanel" aria-labelledby="pills-{{ tab.title }}-tab">
				<div class="row">
					{% for product in tab.products %}
					<div class="col-lg-3 col-sm-6 mb-5" data-animate="fadeInUp">
						<div class="card border-0 product">
							<div class="position-relative">
								<img src="{{ product.image | document_url }}" alt="{{ product.title }}">
								<div class="card-img-overlay d-flex p-3">
									<div>
										{%- assign label = product.label | slugify -%}
										{% if label == "sale" %}
										<span class="badge badge-primary">-20%</span>
										{% endif %}
										{% if label == "new" %}
										<span class="badge badge-warning">New</span>
										{% endif %}
									</div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left" title="View products"
										   class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
												<use xlink:href="#icon-shopping-bag-open-light"></use>
											</svg>
										</a>
										<a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
										   class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view">
												<svg class="icon icon-eye-light fs-24">
													<use xlink:href="#icon-eye-light"></use>
												</svg>
											</span>
										</a>
										<a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
										   class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
												<use xlink:href="#icon-star-light"></use>
											</svg>
										</a>
										<a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
										   class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
												<use xlink:href="#icon-arrows-left-right-light"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-4 text-center">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									{% if product.sale %}
									<span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">{{ product.sale }}</span>
									{% endif %}
									<span>{{ product.price }}</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2"><a href="{{ product.url | document_url }}">{{ product.title
									}}</a>
								</h2>
								<div class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
										</li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
										</li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
										</li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
										</li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
										</li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">{{ product.reviews }} reviews</span>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="text-center">
			<a href="{{ '/shop-page-04.html' | document_url }}" class="btn btn-outline-secondary border-2x border">Shop All Products</a>
		</div>
	</div>
</section>
<section class="pt-xl-15 pt-11 pb-lg-11 pb-0">
	<div class="container container-xl">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<img src="{{ '/images/Countdown-02.jpg' | document_url }}" alt="Countdown-02">
			</div>
			<div class="offset-xl-1 col-xl-5 col-lg-6 py-lg-0 py-9">
				<div class="d-flex align-items-center fs-15 text-secondary text-uppercase font-weight-600 letter-spacing-01 mb-4">Special offer<span class="badge badge-primary fs-15 font-weight-500 py-1 px-2 ml-2">-20%</span></div>
				<h2>Save on Sets</h2>
				<p class="fs-18 mw-460 mb-4">Made using clean, non-toxic ingredients, our products are designed for everyone.</p>
				<div class="countdown d-flex mb-7 mx-n2 mx-sm-n4" data-countdown="true"
				     data-countdown-end="Jan 27, 2023 18:24:25">
					<div class="countdown-item center px-2 px-sm-4">
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 day">02</span>
					</div>
					<div class="separate fs-30">:</div>
					<div class="countdown-item text-center px-2 px-sm-4">
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 hour">24</span>
					</div>
					<div class="separate fs-30">:</div>
					<div class="countdown-item text-center px-2 px-sm-4">
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 minute">15</span>
					</div>
					<div class="separate fs-30">:</div>
					<div class="countdown-item text-center px-2 px-sm-4">hom
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 second">41</span>
					</div>
				</div>
				<a href="#" class="btn btn-secondary bg-hover-primary border-hover-primary">Get Only $39,00</a>
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-7 pb-lg-14 pt-3 pb-11">
	<div class="container">
		<div class="slick-slider section-01"
		     data-slick-options='{"slidesToShow": 1,"dots":false,"arrows":false,"asNavFor":".section-02"}'>
			<div class="box">
				<h4 class="mx-auto text-center mw-750 mb-10">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
			</div>
			<div class="box">
				<h4 class="mx-auto text-center mw-750 mb-10">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”	</h4>
			</div>
			<div class="box">
				<h4 class="mx-auto text-center mw-750 mb-10">“ Amazing product. The results are so transformative in texture and my face feels plump and healthy. Highly recommend! “	</h4>
			</div>
			<div class="box">
				<h4 class="mx-auto text-center mw-750 mb-10">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
			</div>
			<div class="box">
				<h4 class="mx-auto text-center mw-750 mb-10">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”	</h4>
			</div>
			<div class="box">
				<h4 class="mx-auto text-center mw-750 mb-10">“ Amazing product. The results are so transformative in texture and my face feels plump and healthy. Highly recommend! “	</h4>
			</div>
		</div>
		<div class="slick-slider section-02 client-logo"
		     data-slick-options='{"slidesToShow": 6,"asNavFor":".section-01","focusOnSelect":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":4,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 3,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 2,"dots":true}}]}'>
			<div class="box">
				<div class="d-block mw-150 mx-auto">
					<img src="{{ '/images/client-logo-01.png' | document_url }}" alt="Client Logo 01"
					     class="opacity-3 opacity-hover-10 cursor-pointer">
				</div>
			</div>
			<div class="box">
				<div class="d-block mw-150 mx-auto">
					<img src="{{ '/images/client-logo-02.png' | document_url }}" alt="Client Logo 02"
					     class="opacity-3 opacity-hover-10 cursor-pointer">
				</div>
			</div>
			<div class="box">
				<div class="d-block mw-150 mx-auto">
					<img src="{{ '/images/client-logo-03.png' | document_url }}" alt="Client Logo 03"
					     class="opacity-3 opacity-hover-10 cursor-pointer">
				</div>
			</div>
			<div class="box">
				<div class="d-block mw-150 mx-auto">
					<img src="{{ '/images/client-logo-04.png' | document_url }}" alt="Client Logo 04"
					     class="opacity-3 opacity-hover-10 cursor-pointer">
				</div>
			</div>
			<div class="box">
				<div class="d-block mw-150 mx-auto">
					<img src="{{ '/images/client-logo-05.png' | document_url }}" alt="Client Logo 05"
					     class="opacity-3 opacity-hover-10 cursor-pointer">
				</div>
			</div>
			<div class="box">
				<div class="d-block mw-150 mx-auto">
					<img src="{{ '/images/client-logo-06.png' | document_url }}" alt="Client Logo 06"
					     class="opacity-3 opacity-hover-10 cursor-pointer">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row mx-0">
		<div class="col-lg-6 py-xl-17 py-lg-12 py-8" style="background-color: #EDF1F0">
			<div class="mw-lg-695 ml-auto py-lg-7">
				<div class="fs-15 font-weight-600 text-uppercase letter-spacing-01 pb-4 text-secondary">Special offer</div>
				<h2 class="fs-40">Beauty Inspired by <br/>Real Life</h2>
				<p class="mb-0 fs-18 pt-1 text-body">Made using clean, non-toxic ingredients, our products <br/>are designed for everyone.</p>
				<a href="#" class="btn btn-md rounded btn-light mt-6">Discover Now</a>
			</div>
		</div>
		<div class="col-lg-6 d-flex align-items-center justify-content-center py-lg-0 py-md-17 py-13" style="background-image: url('{{ '/images/video-01.jpg' | document_url }}');background-position: center;background-size: cover;" >
			<a href="https://www.youtube.com/watch?v=6v2L2UGZJAM" data-gtf-mfp="true"
			   data-mfp-options='{"type":"iframe","preloader":false}' class="btn btn-rounded btn-light w-115 h-115 d-flex justify-content-center align-items-center rounded-circle fs-30"><i class="fas fa-play"></i></a>
		</div>
	</div>
</section>



