---
layout: home-14
title: "Home 14"
category_text: "Home"
category_url: /home-14.html
---
<section class="mx-0 slick-slider slider"
         data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":true,"dots":false,"arrows":false,"fade":true,"cssEase":"ease-in-out","speed":600,"autoplaySpeed":6000}'>
    <div class="box px-0">
        <div class="container container-xl">
            <div class="row align-items-center no-gutters position-relative">
                <div class="col-12 col-md-2/5 pt-8 pb-11 py-md-13 py-xl-17 order-2 order-md-1">
                    <div data-animate="fadeInDown" class="pt-lg-4">
                        <p class="text-red fs-60 mb-0 custom-font-03">Made for you!</p>
                        <h1 class="mb-4 fs-42 fs-md-70 lh-114 text-uppercase mb-6">skincare natural</h1>
                    </div>
                    <a href="{{ '/shop-page-04.html' | document_url }}"
                       class="btn btn-link bg-transparent text-secondary border-secondary border-bottom border-0 rounded-0 p-0 fs-16 font-weight-600 border-2x mb-lg-6"
                       data-animate="fadeInUp">
                        Discover Now
                        <svg class="icon icon-arrow-right">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-12 col-md-3/5 custom-col-stretched-right bg-img-cover-center py-18 py-md-0 order-1 order-md-2"
                     style="background-image: url('{{ '/images/bg-slider-29.jpg' | document_url }}');">
                </div>
            </div>
        </div>

    </div>
    <div class="box px-0">
        <div class="container container-xl">
            <div class="row align-items-center no-gutters position-relative">
                <div class="col-12 col-md-2/5 pt-8 pb-11 py-md-13 py-xl-17 order-2 order-md-1">
                    <div data-animate="fadeInDown" class="pt-lg-4">
                        <p class="text-red fs-60 mb-0 custom-font-03">Made for you!</p>
                        <h1 class="mb-4 fs-42 fs-md-70 lh-114 text-uppercase mb-6">skincare natural</h1>
                    </div>
                    <a href="{{ '/shop-page-04.html' | document_url }}"
                       class="btn btn-link bg-transparent text-secondary border-secondary border-bottom border-0 rounded-0 p-0 fs-16 font-weight-600 border-2x mb-lg-6"
                       data-animate="fadeInUp">
                        Discover Now
                        <svg class="icon icon-arrow-right">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-12 col-md-3/5 custom-col-stretched-right bg-img-cover-center py-18 py-md-0 order-1 order-md-2"
                     style="background-image: url('{{ '/images/bg-slider-28.jpg' | document_url }}');">
                </div>
            </div>
        </div>

    </div>
    <div class="box px-0">
        <div class="container container-xl">
            <div class="row align-items-center no-gutters position-relative">
                <div class="col-12 col-md-2/5 pt-8 pb-11 py-md-13 py-xl-17 order-2 order-md-1">
                    <div data-animate="fadeInDown" class="pt-lg-4">
                        <p class="text-red fs-60 mb-0 custom-font-03">Made for you!</p>
                        <h1 class="mb-4 fs-42 fs-md-70 lh-114 text-uppercase mb-6">skincare natural</h1>
                    </div>
                    <a href="{{ '/shop-page-04.html' | document_url }}"
                       class="btn btn-link bg-transparent text-secondary border-secondary border-bottom border-0 rounded-0 p-0 fs-16 font-weight-600 border-2x mb-lg-6"
                       data-animate="fadeInUp">
                        Discover Now
                        <svg class="icon icon-arrow-right">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-12 col-md-3/5 custom-col-stretched-right bg-img-cover-center py-18 py-md-0 order-1 order-md-2"
                     style="background-image: url('{{ '/images/bg-slider-27.jpg' | document_url }}');">
                </div>
            </div>
        </div>

    </div>
</section>
<section class="pt-lg-13 pt-md-11">
    <div class="container container-xl">
        <h2 class="text-center mb-3 text-uppercase" data-animate="fadeInUp">Featured Products</h2>
        <p class="mb-9 fs-18 text-center" data-animate="fadeInUp">Get the skin you want to feel</p>
        <div class="row">
            {% for product in site.data.home-14.products %}
            <div class="col-lg-3 col-sm-6 mb-5" data-animate="fadeInUp">
                <div class="card border-0 product">
                    <div class="position-relative">
                        <img src="{{ product.image | document_url }}" alt="{{ product.title }}">
                        <div class="card-img-overlay d-flex p-3">
                            <div>
                                {%- assign label = product.label | slugify -%}
                                {% if label == "sale" %}
                                <span class="badge badge-red">-20%</span>
                                {% endif %}
                                {% if label == "new" %}
                                <span class="badge badge-primary">New</span>
                                {% endif %}
                            </div>
                            <div class="my-auto w-100 content-change-vertical">
                                <a href="#" data-toggle="tooltip" data-placement="left" title="View products"
                                   class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                                    <svg class="icon icon-shopping-bag-open-light fs-24">
                                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                                    </svg>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
                                   class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
									<span data-toggle="modal" data-target="#quick-view">
										<svg class="icon icon-eye-light fs-24">
											<use xlink:href="#icon-eye-light"></use>
										</svg>
									</span>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                                   class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                                    <svg class="icon icon-star-light fs-24">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
                                   class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
                                    <svg class="icon icon-arrows-left-right-light fs-24">
                                        <use xlink:href="#icon-arrows-left-right-light"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 pt-4 text-center">
                        <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                            {% if product.sale %}
                            <span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">{{ product.sale }}</span>
                            {% endif %}
                            <span>{{ product.price }}</span>
                        </p>
                        <h2 class="card-title fs-15 font-weight-500 mb-2"><a href="{{ product.url | document_url }}"
                                                                             class="hover-red">{{ product.title
                            }}</a>
                        </h2>
                        <div class="d-flex align-items-center justify-content-center flex-wrap">
                            <ul class="list-inline mb-0 lh-1">
                                <li class="list-inline-item fs-12 text-red mr-0"><i class="fas fa-star"></i>
                                </li>
                                <li class="list-inline-item fs-12 text-red mr-0"><i class="fas fa-star"></i>
                                </li>
                                <li class="list-inline-item fs-12 text-red mr-0"><i class="fas fa-star"></i>
                                </li>
                                <li class="list-inline-item fs-12 text-red mr-0"><i class="fas fa-star"></i>
                                </li>
                                <li class="list-inline-item fs-12 text-red mr-0"><i class="fas fa-star"></i>
                                </li>
                            </ul>
                            <span class="card-text fs-14 font-weight-400 pl-2 lh-1">{{ product.reviews }} reviews</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="pt-lg-9 pt-7">
    <div class="container container-xl">
        <div class="row">
            <div class="col-lg-7" data-animate="fadeInLeft">
                <img src="{{ '/images/hot-product-02.jpg' | document_url }}" alt="Hot Product">
            </div>
            <div class="col-lg-5 mt-9 mt-lg-0" data-animate="fadeInRight">
                <div class="card border-0 text-center hot-product">
                    <div class="mx-auto position-relative z-index-1">
                        <img src="{{ '/images/image-box-22.png' | document_url }}" alt="shroom serum">
                    </div>
                    <div class="card-body px-0 pt-9 pb-0">
                        <h6 class="card-subtitle mb-2 text-red font-weight-400 custom-font-03 fs-70 fs-md-90 fs-xl-122 lh-1">
                            Hot Product</h6>
                        <h3 class="fs-40 text-uppercase letter-spacing-003 mb-5">shroom serum</h3>
                        <p class="mb-0 fs-18 mx-auto mb-4" style="max-width: 390px">Lorem ipsum dolor sit amet,
                            consectetur adipi, scing seddo eiusmod temporincididunt ut labore et dolore magna
                            aliqua. </p>
                        <a href="{{ '/shop-page-04.html' | document_url }}"
                           class="btn btn-link bg-transparent text-secondary border-secondary rounded-0 border-bottom border-0 p-0 fs-16 font-weight-600 border-2x">
                            Shop Now
                            <svg class="icon icon-arrow-right">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-11 pt-lg-12">
    <div class="card border-0 banner banner-07 hover-zoom-in hover-shine" data-animate="fadeInUp">
        <div class="card-img bg-img-cover-center"
             style="background-image: url('{{ '/images/banner-42.jpg' | document_url }}');">
        </div>
    </div>
</section>
<section class="pt-lg-13 pt-11 pb-11" style="background-color: #F8F8F8">
    <div class="container">
        <p class="mb-0 fs-60 custom-font-03 text-red font-italic text-center lh-12" data-animate="fadeInUp">You must try</p>
        <h2 class="text-center mb-3 text-uppercase letter-spacing-003" data-animate="fadeInUp">daily skincare set</h2>
        <div class="slick-slider mx-n2 dot-lg-0"
             data-slick-options='{"slidesToShow": 3,"dots":true,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
            {% for product in site.data.home-14.products-02 %}
            <div class="box" data-animate="fadeInUp">
                <div class="card border-0 product bg-transparent">
                    <div class="position-relative">
                        <img src="{{ product.image | document_url }}" alt="{{ product.title }}">
                        <div class="card-img-overlay d-flex p-3 flex-column">
                            <div class="mb-auto d-flex justify-content-center">
                                <div>
                                    {%- assign label = product.label | slugify -%}
                                    {% if label == "sale" %}
                                    <span class="badge badge-red">-20%</span>
                                    {% endif %}
                                    {% if label == "new" %}
                                    <span class="badge badge-primary">New</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-4 text-center px-0">
                        <h2 class="card-title fs-15 font-weight-500 mb-2"><a href="{{ product.url | document_url }}"
                                                                             class="hover-red">{{ product.title
                            }}</a>
                        </h2>
                        <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                            {% if product.sale %}
                            <span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">{{ product.sale }}</span>
                            {% endif %}
                            <span>{{ product.price }}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="pt-lg-13 pt-11">
    <div class="container container-xl">
        <div class="row align-items-center">
            <div class="col-md-6 col-xl-5 mb-11 mb-md-0" data-animate="fadeInLeft">
                <h2 class="mb-5 fs-40 letter-spacing-003 lh-13 text-uppercase" style="max-width: 380px">Beauty Inspired
                    by Real Life</h2>
                <p class="fs-18 mb-6" style="max-width: 390px">Lorem ipsum dolor sit amet, consectetur adipi, scing
                    seddo eiusmod temporincididunt ut labore et dolore magna aliqua. </p>
                <a href="{{ '/shop-page-04.html' | document_url }}"
                   class="btn btn-link bg-transparent text-secondary border-secondary rounded-0 border-bottom border-0 p-0 fs-16 font-weight-600 border-2x">
                    Discover Now
                    <svg class="icon icon-arrow-right">
                        <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-md-6 col-xl-7" data-animate="fadeInRight">
                <img src="{{ '/images/other-image-02.jpg' | document_url }}" alt="Beauty Inspired by Real Life">
                <img src="{{ '/images/other-image-01.png' | document_url }}"
                     class="rotating-img position-absolute d-none d-lg-block img-by-read-life"
                     alt="Beauty Inspired by Real Life">
            </div>
        </div>
    </div>
</section>
<section class="pt-lg-15 pt-11 pb-lg-14 pb-11">
    <div class="container">
        <div class="slick-slider section-01"
             data-slick-options='{"slidesToShow": 1,"dots":false,"arrows":false,"asNavFor":".section-02"}' data-animate="fadeInUp">
            <div class="box">
                <h4 class="mx-auto text-center mw-750 mb-10">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
            </div>
            <div class="box">
                <h4 class="mx-auto text-center mw-750 mb-10">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”	</h4>
            </div>
            <div class="box">
                <h4 class="mx-auto text-center mw-750 mb-10">“ Amazing product. The results are so transformative in texture and my face feels plump and healthy. Highly recommend! “	</h4>
            </div>
            <div class="box">
                <h4 class="mx-auto text-center mw-750 mb-10">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
            </div>
            <div class="box">
                <h4 class="mx-auto text-center mw-750 mb-10">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”	</h4>
            </div>
            <div class="box">
                <h4 class="mx-auto text-center mw-750 mb-10">“ Amazing product. The results are so transformative in texture and my face feels plump and healthy. Highly recommend! “	</h4>
            </div>
        </div>
        <div class="slick-slider section-02 client-logo"
             data-slick-options='{"slidesToShow": 6,"asNavFor":".section-01","focusOnSelect":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":4,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 3,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 2,"dots":true}}]}'>
            <div class="box" data-animate="fadeInUp">
                <div class="d-block mw-150 mx-auto">
                    <img src="{{ '/images/client-logo-01.png' | document_url }}" alt="Client Logo 01"
                         class="opacity-3 opacity-hover-10 cursor-pointer">
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="d-block mw-150 mx-auto">
                    <img src="{{ '/images/client-logo-02.png' | document_url }}" alt="Client Logo 02"
                         class="opacity-3 opacity-hover-10 cursor-pointer">
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="d-block mw-150 mx-auto">
                    <img src="{{ '/images/client-logo-03.png' | document_url }}" alt="Client Logo 03"
                         class="opacity-3 opacity-hover-10 cursor-pointer">
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="d-block mw-150 mx-auto">
                    <img src="{{ '/images/client-logo-04.png' | document_url }}" alt="Client Logo 04"
                         class="opacity-3 opacity-hover-10 cursor-pointer">
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="d-block mw-150 mx-auto">
                    <img src="{{ '/images/client-logo-05.png' | document_url }}" alt="Client Logo 05"
                         class="opacity-3 opacity-hover-10 cursor-pointer">
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="d-block mw-150 mx-auto">
                    <img src="{{ '/images/client-logo-06.png' | document_url }}" alt="Client Logo 06"
                         class="opacity-3 opacity-hover-10 cursor-pointer">
                </div>
            </div>
        </div>
    </div>
</section>