---
layout: home-4
title: "Home 04"
category_text: "Home"
category_url: /home-04.html
---

<section class="mx-0 slick-slider dots-inner-center slider"
     data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":true,"dots":true,"arrows":false,"fade":true,"cssEase":"ease-in-out","speed":600}'>
	<div class="box px-0">
		<div class="container container-xl">
			<div class="bg-img-cover-center pt-12 pb-13 pb-lg-16 pt-lg-15 pl-3 pl-lg-13"
			     style="background-image: url('{{ '/images/bg-slider-02.jpg' | document_url }}');">
				<div class="pt-4 mb-6" data-animate="fadeInDown">
					<h1 class="mb-3 fs-46 fs-md-56 lh-128">Reveal The<br> Beauty of Skin</h1>
					<p class="fs-18 lh-166" style="max-width: 454px">Made using clean, non-toxic ingredients, our
						products are designed for
						everyone.</p>
				</div>
				<div class="mb-1" data-animate="fadeInUp">
					<p class="fs-20 font-weight-600 text-secondary mb-4">Starting at $7.99 </p>
					<a href="{{ '/shop-page-04.html' | document_url }}"
					   class="btn btn-secondary rounded bg-hover-primary border-0">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="box px-0">
		<div class="container container-xl">
			<div class="bg-img-cover-center pt-12 pb-13 pb-lg-16 pt-lg-15 pl-3 pl-lg-13"
			     style="background-image: url('{{ '/images/bg-slider-07.jpg' | document_url }}');">
				<div class="pt-4 mb-6" data-animate="fadeInDown">
					<h1 class="mb-3 fs-46 fs-md-56 lh-128">Reveal The<br> Beauty of Skin</h1>
					<p class="fs-18 lh-166" style="max-width: 454px">Made using clean, non-toxic ingredients, our
						products are designed for
						everyone.</p>
				</div>
				<div class="mb-1" data-animate="fadeInUp">
					<p class="fs-20 font-weight-600 text-secondary mb-4">Starting at $7.99 </p>
					<a href="{{ '/shop-page-04.html' | document_url }}"
					   class="btn btn-secondary rounded bg-hover-primary border-0">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="box px-0">
		<div class="container container-xl">
			<div class="bg-img-cover-center pt-12 pb-13 pb-lg-16 pt-lg-15 pl-3 pl-lg-13"
			     style="background-image: url('{{ '/images/bg-slider-08.jpg' | document_url }}');">
				<div class="pt-4 mb-6" data-animate="fadeInDown">
					<h1 class="mb-3 fs-46 fs-md-56 lh-128">Reveal The<br> Beauty of Skin</h1>
					<p class="fs-18 lh-166" style="max-width: 454px">Made using clean, non-toxic ingredients, our
						products are designed for
						everyone.</p>
				</div>
				<div class="mb-1" data-animate="fadeInUp">
					<p class="fs-20 font-weight-600 text-secondary mb-4">Starting at $7.99 </p>
					<a href="{{ '/shop-page-04.html' | document_url }}"
					   class="btn btn-secondary rounded bg-hover-primary border-0">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-6">
	<div class="container container-xl">
		<div class="row">
			<div class="col-12 col-lg-4 mb-3 mb-lg-0">
				<div class="card border-0 hover-shine hover-zoom-in banner banner-02"  data-animate="fadeInUp">
					<div class="card-img bg-img-cover-center" style="background-image: url('{{ '/images/banner-08.jpg' | document_url }}');"></div>
					<div class="card-img-overlay d-inline-flex flex-column px-7 pt-7 pb-6">
						<h3 class="card-title fs-34">Summer Collection</h3>
						<p class="card-text fs-18 text-secondary font-weight-600">
							Starting at $17.99
						</p>
						<div class="mt-auto">
							<a href="{{ '/shop-page-04.html' | document_url }}"
							   class="btn btn-link bg-transparent hover-secondary border-0 p-0 fs-16 font-weight-600">
								Shop Now
								<svg class="icon icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 mb-3 mb-lg-0">
				<div class="card border-0 hover-shine hover-zoom-in banner banner-02"  data-animate="fadeInUp">
					<div class="card-img bg-img-cover-center" style="background-image: url('{{ '/images/banner-06.jpg' | document_url }}');"></div>
					<div class="card-img-overlay d-inline-flex flex-column px-7 pt-7 pb-6">
						<h3 class="card-title fs-34">What’s New?</h3>
						<p class="card-text fs-18 text-secondary font-weight-600">
							Get the glow
						</p>
						<div class="mt-auto">
							<a href="{{ '/shop-page-04.html' | document_url }}"
							   class="btn btn-link bg-transparent hover-secondary border-0 p-0 fs-16 font-weight-600">
								Discover Now
								<svg class="icon icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="card border-0 hover-shine hover-zoom-in banner banner-02"  data-animate="fadeInUp">
					<div class="card-img bg-img-cover-center" style="background-image: url('{{ '/images/banner-07.jpg' | document_url }}');"></div>
					<div class="card-img-overlay d-inline-flex flex-column px-7 pt-7 pb-6">
						<h3 class="card-title fs-34">Buy 1 Get 1</h3>
						<p class="card-text fs-18 text-secondary font-weight-600">
							Starting at $7.99
						</p>
						<div class="mt-auto">
							<a href="{{ '/shop-page-04.html' | document_url }}"
							   class="btn btn-link bg-transparent hover-secondary border-0 p-0 fs-16 font-weight-600">
								Discover Now
								<svg class="icon icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-13 pt-10">
	<div class="container container-xl">
		<div class="row mb-md-6 mb-8">
			<div class="col-md-6">
				<h2 class="fs-34" data-animate="fadeInUp">Our Bestsellers</h2>
			</div>
			<div class="col-md-6 text-md-right">
				<a href="{{ '/shop-page-04.html' | document_url }}" class="btn btn-link p-0 mt-2">Shop All Products<i class="far fa-arrow-right pl-2 fs-13"></i></a>
			</div>
		</div>
		<div class="slick-slider mx-n2"
		     data-slick-options='{"slidesToShow": 5,"dots":false,"arrows":true,"responsive":[{"breakpoint": 1368,"settings": {"arrows":false,"dots":true}},{"breakpoint": 1200,"settings": {"slidesToShow":3,"arrows":false,"dots":true}},{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
			{% for product in site.data.home-04.product_01 %}
			<div class="box">
				<div class="card border-0 product" data-animate="fadeInUp">
					<div class="position-relative">
						<img src="{{ product.image | document_url }}" alt="{{ product.title }}">
						<div class="card-img-overlay d-flex p-3">
							<div>
								{%- assign label = product.label | slugify -%}
								{% if label == "sale" %}
								<span class="badge badge-primary">-20%</span>
								{% endif %}
								{% if label == "new" %}
								<span class="badge badge-warning">New</span>
								{% endif %}
							</div>
							<div class="my-auto w-100 content-change-vertical">
								<a href="#" data-toggle="tooltip" data-placement="left" title="View products"
								   class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
									<svg class="icon icon-shopping-bag-open-light fs-24">
										<use xlink:href="#icon-shopping-bag-open-light"></use>
									</svg>
								</a>
								<a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
								   class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
									<span data-toggle="modal" data-target="#quick-view">
										<svg class="icon icon-eye-light fs-24">
											<use xlink:href="#icon-eye-light"></use>
										</svg>
									</span>
								</a>
								<a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
								   class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
									<svg class="icon icon-star-light fs-24">
										<use xlink:href="#icon-star-light"></use>
									</svg>
								</a>
								<a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
								   class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
									<svg class="icon icon-arrows-left-right-light fs-24">
										<use xlink:href="#icon-arrows-left-right-light"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
					<div class="card-body pt-4 text-center px-0">
						<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
							{% if product.sale %}
							<span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">{{ product.sale }}</span>
							{% endif %}
							<span>{{ product.price }}</span>
						</p>
						<h2 class="card-title fs-15 font-weight-500 mb-2"><a href="{{ product.url | document_url }}">{{ product.title }}</a></h2>
						<div class="d-flex align-items-center justify-content-center flex-wrap">
							<ul class="list-inline mb-0 lh-1">
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
							</ul>
							<span class="card-text fs-14 font-weight-400 pl-2 lh-1">{{ product.reviews }} reviews</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="pt-10">
	<div class="container container-xl">
		<div class="row mb-md-6 mb-8">
			<div class="col-md-6">
				<h2 class="fs-34" data-animate="fadeInUp">Under $25</h2>
			</div>
			<div class="col-md-6 text-md-right">
				<a href="{{ '/shop-page-04.html' | document_url }}" class="btn btn-link p-0 mt-2">Shop All Products<i class="far fa-arrow-right pl-2 fs-13"></i></a>
			</div>
		</div>
		<div class="slick-slider mx-n2"
		     data-slick-options='{"slidesToShow": 5,"dots":false,"arrows":true,"responsive":[{"breakpoint": 1368,"settings": {"arrows":false,"dots":true}},{"breakpoint": 1200,"settings": {"slidesToShow":3,"arrows":false,"dots":true}},{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
			{% for product in site.data.home-04.product_02 %}
			<div class="box">
				<div class="card border-0 product" data-animate="fadeInUp">
					<div class="position-relative">
						<img src="{{ product.image | document_url }}" alt="{{ product.title }}">
						<div class="card-img-overlay d-flex p-3">
							<div>
								{%- assign label = product.label | slugify -%}
								{% if label == "sale" %}
								<span class="badge badge-primary">-20%</span>
								{% endif %}
								{% if label == "new" %}
								<span class="badge badge-warning">New</span>
								{% endif %}
							</div>
							<div class="my-auto w-100 content-change-vertical">
								<a href="#" data-toggle="tooltip" data-placement="left" title="View products"
								   class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
									<svg class="icon icon-shopping-bag-open-light fs-24">
										<use xlink:href="#icon-shopping-bag-open-light"></use>
									</svg>
								</a>
								<a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
								   class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
									<span data-toggle="modal" data-target="#quick-view">
										<svg class="icon icon-eye-light fs-24">
											<use xlink:href="#icon-eye-light"></use>
										</svg>
									</span>
								</a>
								<a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
								   class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
									<svg class="icon icon-star-light fs-24">
										<use xlink:href="#icon-star-light"></use>
									</svg>
								</a>
								<a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
								   class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
									<svg class="icon icon-arrows-left-right-light fs-24">
										<use xlink:href="#icon-arrows-left-right-light"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
					<div class="card-body pt-4 text-center px-0">
						<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
							{% if product.sale %}
							<span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">{{ product.sale }}</span>
							{% endif %}
							<span>{{ product.price }}</span>
						</p>
						<h2 class="card-title fs-15 font-weight-500 mb-2"><a href="{{ product.url | document_url }}">{{ product.title }}</a></h2>
						<div class="d-flex align-items-center justify-content-center flex-wrap">
							<ul class="list-inline mb-0 lh-1">
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
								<li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
								</li>
							</ul>
							<span class="card-text fs-14 font-weight-400 pl-2 lh-1">{{ product.reviews }} reviews</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="pt-11 pb-md-7 pb-10 pb-lg-14">
	<div class="container container-xl">
		<div class="row">
			<div class="col-12 col-md-7 col-lg-8 mb-6 mb-lg-0">
				<div class="card border-0 banner banner-01 hover-zoom-in hover-shine"  data-animate="fadeInUp">
					<div class="card-img bg-img-cover-center"
					     style="background-image: url('{{ '/images/banner-10.jpg' | document_url }}');"></div>
					<div class="card-img-overlay d-inline-flex flex-column p-6 p-md-8">
						<h6 class="card-subtitle mb-2 text-secondary letter-spacing-01">NEW COLLECTION</h6>
						<h3 class="card-title fs-34 lh-129" style="max-width: 310px">Discover Our Autumn Skincare</h3>
						<div class="mt-4">
							<a href="#"
							   class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Explore
								More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5 col-lg-4">
				<div class="card border-0 banner banner-01 hover-zoom-in hover-shine" data-animate="fadeInUp">
					<div class="card-img bg-img-cover-center"
					     style="background-image: url('{{ '/images/banner-09.jpg' | document_url }}');"></div>
					<div class="card-img-overlay d-inline-flex flex-column p-6 p-md-8">
						<h3 class="card-title fs-34 lh-129 mb-2">25% off Everything</h3>
						<p class="card-text text-secondary font-weight-500" style="max-width: 236px;">
							Makeup with extended range in colors for every human.
						</p>
						<div class="mt-2">
							<a href="{{ '/shop-page-04.html' | document_url }}"
							   class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Shop Sale</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container container-xl">
		<h2 class="mb-md-9 mb-7 text-center" data-animate="fadeInUp">Why Shop with Glowing?</h2>
		<div class="row">
			{% for image_box in site.data.home-04.image_boxs %}
			<div class="col-md-4 mb-6 mb-md-0 px-xl-8">
				<div class="card border-0 text-center" data-animate="fadeInUp">
					<div class="mw-102 mx-auto">
						<img src="{{ image_box.image | document_url }}" alt="{{ image_box.title }}">
					</div>
					<div class="card-body px-0 pt-6 mt-1 pb-0">
						<h3 class="fs-24 mb-3">{{ image_box.title }}</h3>
						<p class="mb-0">{{ image_box.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="pt-lg-13 pt-md-10 pt-7 pb-lg-12 pb-11">
	<div class="container container-xl">
		<div class="row align-items-center">
			<div class="col-lg-3 col-5">
				<img src="{{ '/images/Countdown-03.jpg' | document_url }}" alt="Countdown-03" data-animate="fadeIn">
			</div>
			<div class="col-lg-4 col-7">
				<img src="{{ '/images/Countdown-04.jpg' | document_url }}" alt="Countdown-04" data-animate="fadeIn">
			</div>
			<div class="offset-xl-1 col-xl-4 col-lg-5 col-12 pt-lg-0 pt-9">
				<div class="d-flex align-items-center fs-15 text-secondary text-uppercase font-weight-600 letter-spacing-01 mb-4">Special offer<span class="badge badge-primary fs-15 font-weight-500 py-1 px-2 ml-2">-20%</span></div>
				<h2  data-animate="fadeInUp">Mountain Pine Bath Oil</h2>
				<p class="fs-18 mw-460 mb-4"  data-animate="fadeInUp">Made using clean, non-toxic ingredients, our products are designed for everyone.</p>
				<div class="countdown d-flex mb-7 mx-n2 mx-sm-n4" data-countdown="true"
				     data-countdown-end="Jan 27, 2023 18:24:25" data-animate="fadeInUp">
					<div class="countdown-item center px-2 px-sm-4">
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 day">02</span>
					</div>
					<div class="separate fs-30">:</div>
					<div class="countdown-item text-center px-2 px-sm-4">
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 hour">24</span>
					</div>
					<div class="separate fs-30">:</div>
					<div class="countdown-item text-center px-2 px-sm-4">
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 minute">15</span>
					</div>
					<div class="separate fs-30">:</div>
					<div class="countdown-item text-center px-2 px-sm-4">
						<span class="fs-40 fs-sm-48 lh-1 text-primary font-weight-600 second">41</span>
					</div>
				</div>
				<a href="#" class="btn btn-secondary bg-hover-primary border-hover-primary" data-animate="fadeInUp">Get Only $39,00</a>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-xl">
		<div class="bg-gray pt-xl-13 py-11">
			<div class="container">
				<div class="slick-slider section-01"
				     data-slick-options='{"slidesToShow": 1,"dots":false,"arrows":false,"asNavFor":".section-02"}'>
					<div class="box">
						<h4 class="mx-auto text-center mw-750 mb-10" data-animate="fadeInUp">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
					</div>
					<div class="box">
						<h4 class="mx-auto text-center mw-750 mb-10" data-animate="fadeInUp">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”	</h4>
					</div>
					<div class="box">
						<h4 class="mx-auto text-center mw-750 mb-10" data-animate="fadeInUp">“ Amazing product. The results are so transformative in texture and my face feels plump and healthy. Highly recommend! “	</h4>
					</div>
					<div class="box">
						<h4 class="mx-auto text-center mw-750 mb-10" data-animate="fadeInUp">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
					</div>
					<div class="box">
						<h4 class="mx-auto text-center mw-750 mb-10" data-animate="fadeInUp">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”	</h4>
					</div>
					<div class="box">
						<h4 class="mx-auto text-center mw-750 mb-10" data-animate="fadeInUp">“ Amazing product. The results are so transformative in texture and my face feels plump and healthy. Highly recommend! “	</h4>
					</div>
				</div>
				<div class="slick-slider section-02 client-logo"
				     data-slick-options='{"slidesToShow": 6,"asNavFor":".section-01","focusOnSelect":true,"dots":false,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":4,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 3,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 2,"dots":true}}]}'>
					<div class="box">
						<div class="d-block mw-150 mx-auto" data-animate="fadeInUp">
							<img src="{{ '/images/client-logo-01.png' | document_url }}" alt="Client Logo 01"
							     class="opacity-3 opacity-hover-10 cursor-pointer">
						</div>
					</div>
					<div class="box">
						<div class="d-block mw-150 mx-auto" data-animate="fadeInUp">
							<img src="{{ '/images/client-logo-02.png' | document_url }}" alt="Client Logo 02"
							     class="opacity-3 opacity-hover-10 cursor-pointer">
						</div>
					</div>
					<div class="box">
						<div class="d-block mw-150 mx-auto" data-animate="fadeInUp">
							<img src="{{ '/images/client-logo-03.png' | document_url }}" alt="Client Logo 03"
							     class="opacity-3 opacity-hover-10 cursor-pointer">
						</div>
					</div>
					<div class="box">
						<div class="d-block mw-150 mx-auto" data-animate="fadeInUp">
							<img src="{{ '/images/client-logo-04.png' | document_url }}" alt="Client Logo 04"
							     class="opacity-3 opacity-hover-10 cursor-pointer">
						</div>
					</div>
					<div class="box">
						<div class="d-block mw-150 mx-auto" data-animate="fadeInUp">
							<img src="{{ '/images/client-logo-05.png' | document_url }}" alt="Client Logo 05"
							     class="opacity-3 opacity-hover-10 cursor-pointer">
						</div>
					</div>
					<div class="box">
						<div class="d-block mw-150 mx-auto" data-animate="fadeInUp">
							<img src="{{ '/images/client-logo-06.png' | document_url }}" alt="Client Logo 06"
							     class="opacity-3 opacity-hover-10 cursor-pointer">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-10 pb-lg-12 pb-6 pb-md-9">
	<div class="container container-xl">
		<div class="row">
			<div class="col-12 text-center mb-6" data-animate="fadeInUp">
				<h2>More to Discover</h2>
			</div>
		</div>
		<div class="row">
			{% for info in site.data.home-04.image-boxs-02 %}
			<div class="col-md-4 mb-6 mb-md-0" data-animate="fadeInUp">
				<div class="card border-0 text-center">
					<a href="{{ info.url | document_url }}" class="d-block hover-shine hover-zoom-in">
						<img src="{{ info.image | document_url }}" alt="{{ info.title }}">
					</a>
					<div class="card-body px-0 pt-6 pb-0">
						<h3 class="fs-24 mb-2"><a href="{{ info.url | document_url }}" class="text-decoration-none">{{ info.title }}</a></h3>
						<a href="{{ info.url | document_url }}" class="btn btn-link text-secondary">{{ info.btn }}<i class="far fa-arrow-right fs-12 pl-1"></i></a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>





