---
layout: index
title: "Landing Page"
category_text: "index"
category_url: /index.html
---

<section class="bg-cover pt-16 pb-8 mh-100vh d-flex justify-content-center flex-column parralax-images overflow-hidden"
         style="background-image: url('{{ '/images/bg-landing-page-01.jpg' | document_url }}');">
	<p class="fs-lg-56 fs-40 font-weight-normal text-center text-primary custom-font" data-animate="fadeInUp">Made for
		You!</p>
	<h2 class="fs-lg-48 fs-32 text-center px-3" data-animate="fadeInUp">Beauty & Cosmetics Shop HTML Template</h2>
	<div class="mt-lg-9 mt-6 position-relative w-100 mx-auto" style="max-width: 1660px">
		<div class="layer z-index-2 text-center position-relative mx-lg-16">
			<img src="{{ '/images/slider-landing-01.png' | document_url }}" alt="Slider Landing 01">
		</div>
		<div class="layer position-absolute z-index-1 d-none d-lg-block"
		     style="top:18%;left:5%;right:73%">
			<img src="{{ '/images/slider-landing-02.png' | document_url }}" alt="Slider Landing 02">
		</div>
		<div class="layer position-absolute z-index-1 d-none d-lg-block"
		     style="left:-2%;bottom: -7%;right: 65%;">
			<img src="{{ '/images/slider-landing-03.png' | document_url }}" alt="Slider Landing 03">
		</div>
		<div class="layer position-absolute z-index-1 d-none d-lg-block"
		     style="top:25%;right: 3%;">
			<img src="{{ '/images/slider-landing-04.png' | document_url }}" alt="Slider Landing 04">
		</div>
		<div class="layer position-absolute z-index-1 d-none d-lg-block"
		     style="top:30%;right: 11%;">
			<img src="{{ '/images/slider-landing-05.png' | document_url }}" alt="Slider Landing 05">
		</div>
		<div class="layer position-absolute z-index-3 d-none d-lg-block"
		     style="top:-1%;right: 4%;">
			<img src="{{ '/images/slider-landing-06.png' | document_url }}" alt="Slider Landing 06">
		</div>
		<div class="layer position-absolute z-index-3 d-none d-lg-block"
		     style="bottom: -9%;right: -2%;left:74%">
			<img src="{{ '/images/slider-landing-07.png' | document_url }}" alt="Slider Landing 07">
		</div>
	</div>
</section>
<section class="pt-lg-13 pt-11 pb-lg-10 pb-6" id="demos" style="background-image: url('{{ '/images/bg-landing-home-02.png' | document_url }}');background-repeat: no-repeat;
    background-position: right top">
	<div class="container container-xl">
		<span class="d-block text-center fs-120 font-weight-bold text-primary lh-1 mb-3" data-animate="fadeInUp">18<sup class="fs-70 pl-3"
		                                                                                        style="top: -0.7em;">+</sup></span>
		<h2 class="text-center fs-lg-48 fs-40 mb-0" data-animate="fadeInUp">Impressive Demos</h2>
		<p class="fs-lg-48 fs-32 font-weight-normal text-center text-primary custom-font mb-9" data-animate="fadeInUp">Unique Homepages</p>
		<div class="row text-center">
			{% for demo in site.data.index.demos %}
			<div class="col-lg-4 col-md-6"  data-animate="fadeInUp">
				<div class="card border-0 shadow-3 shadow-hover-4 px-3 hover-transform-20 mb-8">
					<a href="{{ demo.url | document_url }}" class="d-block card-img pt-6 rounded-lg mt-3"
					   style="background-color:#F2F2F2">
						<img src="{{ demo.image | document_url }}" alt="{{ demo.title }}"
						     style="box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.15);">
					</a>
					<div class="card-body px-0">
						<h4 class="card-text fs-20 font-weight-bold text-secondary"><a
								href="{{ demo.url | document_url }}">{{ demo.title }}</a></h4>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="col-lg-4 col-md-6" data-animate="fadeInUp">
				<div class="card border-0  shadow-3 shadow-hover-4 hover-transform-20 mb-8" >
					<img src="{{ '/images/Coming-Soon.jpg' | document_url }}" alt="Coming Soon" class="mx-auto pt-3"
					     style="max-width: 276px;">
					<div class="card-body p-0">
						<h4 class="card-text fs-56 font-weight-normal custom-font text-primary pb-6">Coming Soon</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-gray pt-lg-15 py-11 pb-lg-13" id ="shops">
	<div class="container container-lg-full">
		<span class="d-block text-center fs-120 font-weight-bold text-primary lh-1 mb-3" data-animate="fadeInUp">05<sup class="fs-70 pl-3"
		                                                                                        style="top: -0.7em;">+</sup></span>
		<h2 class="text-center fs-lg-48 fs-40 mb-4" data-animate="fadeInUp">Modern Shop Layouts</h2>
		<p class="fs-18 text-center" data-animate="fadeInUp">Modern and elegant shop layouts provide excellent shopping experience</p>
		<div class="slick-slider custom-slick-bx-01 custom-arrow-01"
		     data-slick-options='{"slidesToShow": 2,"dots":true,"arrows":true,"infinite":true,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":2,"arrows":false}},{"breakpoint": 768,"settings": {"slidesToShow": 1,"arrows":false}}]}'>
			{% for shop in site.data.index.shops %}
			<div class="box">
				<div class="card border-0 bg-transparent mt-8" data-animate="fadeInUp">
					<a href="{{ shop.url | document_url }}"
					   class="shadow-3 shadow-hover-4 hover-transform-20 card-img rounded-lg">
						<img src="{{ shop.image | document_url }}" alt="{{ shop.title }}">
					</a>
					<div class="card-body px-0">
						<h4 class="card-text fs-18 text-center text-secondary mt-5"><a
								href="{{ shop.url | document_url }}">{{ shop.title }}</a></h4>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="pt-lg-14 pb-11 pt-9" id="product">
	<div class="container container-3xl">
		<div class="row align-items-center">
			<div class="col-lg-5 ml-xl-n7 order-lg-3 pb-8 pb-lg-0">
				<span class="d-block fs-120 font-weight-bold text-primary lh-1 mb-3" data-animate="fadeInUp">08<sup class="fs-70 pl-3"
				                                                                            style="top: -0.7em;">+</sup></span>
				<h2 class="fs-lg-48 fs-40 mb-4" data-animate="fadeInUp">Product Layouts</h2>
				<p class="fs-18 mw-460" data-animate="fadeInUp">Various product layouts with great UX allow you to select the matching style for
					your store.</p>
			</div>
			<div class="col-lg-2 col-4 order-lg-2">
				<img src="{{ '/images/image-landing-21.png' | document_url }}" alt="landing 21" class="ml-xl-n12" data-animate="fadeInUp">
			</div>
			<div class="col-lg-5 col-8 order-lg-1">
				<img src="{{ '/images/image-landing-93.jpg' | document_url }}" alt="landing 93" class="ml-xl-n11" data-animate="fadeInLeft"
				     style="box-shadow: 0px 1px 36px rgba(0,0,0,0.17)">
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-2">
	<div class="container container-xl">
		<div class="row">
			{% for feature in site.data.index.features %}
			<div class="col-lg-4 col-md-6 mb-7">
				<div class="card border-0 bg-transparent hover-bg-color" data-animate="fadeInUp">
					<img src="{{ feature.image | document_url }}" alt="{{ feature.title }}">
					<div class="card-body p-0">
						<h4 class="card-text fs-20 text-center font-weight-bold mt-4">{{ feature.title }}</h4>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="pt-lg-13 pt-6">
	<div class="container container-xl">
		<div class="row align-items-center">
			<div class="col-lg-7 text-lg-right order-lg-2">
				<img src="{{ '/images/landing-123.png' | document_url }}" alt="landing 123" data-animate="fadeInUp">
			</div>
			<div class="col-lg-5 order-lg-1">
				<h2 class="fs-48 mb-3 mt-lg-0 mt-8" data-animate="fadeInUp">Mobile Optimized</h2>
				<p class="pb-0 fs-18" style="max-width: 400px" data-animate="fadeInUp">Glowing provides a ready-made mobile design with
					impressive UI and the seamless shopping experience for mobile users.</p>
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-13 pt-9">
	<div class="container container-xl">
		<div class="row align-items-center">
			<div class="col-lg-7">
				<img src="{{ '/images/landing-124.png' | document_url }}" alt="landing 124" data-animate="fadeInUp">
			</div>
			<div class="col-lg-5 mt-lg-0 mt-10">
				<span class="d-block fs-90 font-weight-bold text-primary lh-1 mb-6" data-animate="fadeInUp">05<sup
						class="fs-60 pl-3">+</sup></span>
				<h2 class="mb-4" data-animate="fadeInUp">Blog List Layouts</h2>
				<p class="fs-18 mw-460" data-animate="fadeInUp">Various attractive blog layouts enable users to create impressive blog in order
					to grow store’s audience.</p>
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-11 pt-7 pb-10" id="blog">
	<div class="container container-xl">
		<div class="slick-slider"
		     data-slick-options='{"slidesToShow": 3,"dots":false,"arrows":true,"infinite":true,"responsive":[{"breakpoint": 1366,"settings": {"arrows":false,"dots":true}},{"breakpoint": 1200,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
			{% for blog in site.data.index.blogs %}
			<div class="box">
				<div class="card border-0 bg-transparent" data-animate="fadeInUp">
					<a href="{{ blog.url | document_url }}"
					   class="card-img rounded-lg hover-bg-color-02 px-5 pt-8">
						<img src="{{ blog.image | document_url }}" alt="{{ blog.title }}" class="shadow-3">
					</a>
					<div class="card-body p-0">
						<h4 class="card-text fs-20 font-weight-bold text-secondary mt-6"><a
								href="{{ blog.url | document_url }}">{{ blog.title }}</a></h4>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="pb-lg-15 pb-11 pt-lg-7">
	<div class="container container-xl">
		<div class="row align-items-center">
			<div class="col-lg-4 mb-lg-0 mb-7">
				<span class="d-block fs-90 font-weight-bold text-primary lh-1 mb-6" data-animate="fadeInUp">02<sup class="fs-60 pl-3">+</sup></span>
				<h2 class="fs-40 mb-4" data-animate="fadeInUp">Blog Post Layouts</h2>
				<p class="fs-18" style="max-width:400px" data-animate="fadeInUp">Various attractive blog post layouts allow users to create detailed read and
					comment on those articles.</p>
			</div>
			<div class="col-lg-8">
				<div class="row">
					{% for post in site.data.index.posts %}
					<div class="col-sm-6 mb-sm-0 mb-8" data-animate="fadeInUp">
						<div class="card border-0 bg-transparent">
							<a href="{{ post.url | document_url }}"
							   class="card-img rounded-lg hover-bg-color-02 pl-sm-8 pt-sm-8 pl-6 pt-6">
								<img src="{{ post.image | document_url }}" alt="{{ post.title }}" class="pl-xl-1" style="border-top-right-radius:0">
							</a>
							<div class="card-body p-0">
								<h4 class="card-text fs-20 font-weight-bold text-secondary mt-6"><a
										href="{{ post.url | document_url }}">{{ post.title }}</a></h4>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-10 pt-lg-14 pb-11 pb-lg-13 overflow-hidden" style="background-color: #F0F3F2">
	<h2 class="fs-48 lh-116 mb-4 text-center px-3" data-animate="fadeInUp">Ready-made Pages</h2>
	<p class="fs-18 mx-auto text-center mb-8 mb-lg-9 px-3" style="max-width: 760px" data-animate="fadeInUp">Essential inner pages for an online
		store are
		equipped and ready to use.
	</p>
	<div class="made-pages container-3xl mx-auto">
		<div class="d-flex flex-column flex-sm-row mb-sm-7 made-pages-1">
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/about-us-02.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-110.jpg' | document_url }}" alt="about-us-02">
				</a>
			</div>
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/about-us-02.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-111.jpg' | document_url }}" alt="about-us-02"></a>
			</div>
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/about-us-01.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-112.jpg' | document_url }}" alt="about-us-01">
				</a>
			</div>
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/about-us-01.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-113.jpg' | document_url }}" alt="about-us-01">
				</a>
			</div>
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/about-us-02.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-114.jpg' | document_url }}" alt="about-us-02">
				</a>
			</div>
		</div>
		<div class="d-flex flex-column flex-sm-row made-pages-2" data-animate="fadeInUp">
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/find-a-store.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-115.jpg' | document_url }}" alt="store">
				</a>
			</div>
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/contact-us-01.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-116.jpg' | document_url }}" alt="contact-us-01">
				</a>
			</div>
			<div class="px-3 px-sm-2 px-lg-5 mb-6 mb-sm-0" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/faqs.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-117.jpg' | document_url }}" alt="faq">
				</a>
			</div>
			<div class="px-3 px-sm-2 px-lg-5" data-animate="fadeInUp">
				<a class="shadow-6 shadow-hover-7 radius-5 overflow-hidden d-block hover-top"
				   href="{{ '/contact-us-02.html' | document_url }}">
					<img class="w-100" src="{{ '/images/landing-image-118.jpg' | document_url }}" alt="contact-us-02">
				</a>
			</div>
		</div>
	</div>
</section>
<section class="pt-lg-14 pt-10 pb-lg-9 pb-5">
	<div class="container container-xl">
		<h2 class="fs-48 lh-116 mb-4 text-center" data-animate="fadeInUp">Modern Development Toolset</h2>
		<p class="fs-18 mx-auto text-center mb-6" style="max-width: 760px" data-animate="fadeInUp">Faster mobile development at lower costs for
			our users, improving the online browsing experience, and
			facilitate improved SEO, lower bounce rates, and lower maintenance needs.
		</p>
		<div class="row">
			<div class="col-xl-4 col-md-6">
				<div class="media p-6 pr-lg-8 shadow-hover-5 bg-hover-white" data-animate="fadeInUp">
					<img class="mr-6" src="{{ '/images/landing-image-104.png' | document_url }}" alt="Ruby">
					<div class="media-body pt-3">
						<h5 class="fs-24 mb-4">Ruby</h5>
						<p class="fs-18">Provides an elegant syntax that is natural to read and easy to write.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="media p-6 pr-lg-8 shadow-hover-5 bg-hover-white" data-animate="fadeInUp">
					<img class="mr-6" src="{{ '/images/landing-image-105.png' | document_url }}"
					     alt="Responsive Design">
					<div class="media-body pt-3">
						<h5 class="fs-24 mb-4">Responsive Design</h5>
						<p class="fs-18">Remain consistent in design & brand and attract a wider audience for your
							store</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="media p-6 pr-lg-7 shadow-hover-5 bg-hover-white" data-animate="fadeInUp">
					<img class="mr-6" src="{{ '/images/landing-image-109.png' | document_url }}" alt="Node.jr">
					<div class="media-body pt-3">
						<h5 class="fs-24 mb-4">Node.jr</h5>
						<p class="fs-18">The largest ecosystem of open source libraries in the world​​ that allows you
							to work more ​​efficient
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="media p-6 pr-lg-7 shadow-hover-5 bg-hover-white" data-animate="fadeInUp">
					<img class="mr-6" src="{{ '/images/landing-image-106.png' | document_url }}"
					     alt="Flexible Customization">
					<div class="media-body">
						<h5 class="fs-24 mb-4">Flexible Customization</h5>
						<p class="fs-18">Easily edit/customize to make Glowing fit your branding
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="media p-6 pr-lg-7 shadow-hover-5 bg-hover-white" data-animate="fadeInUp">
					<img class="mr-6" src="{{ '/images/landing-image-107.png' | document_url }}"
					     alt="Flexible Customization">
					<div class="media-body">
						<h5 class="fs-24 mb-4">Gulp</h5>
						<p class="fs-18">Huge speed advantage over any other task runner and it easy to code &
							understand
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="media p-6 pr-lg-7 shadow-hover-5 bg-hover-white" data-animate="fadeInUp">
					<img class="mr-6" src="{{ '/images/landing-image-108.png' | document_url }}"
					     alt="Flexible Customization">
					<div class="media-body">
						<h5 class="fs-24 mb-4">Jekyll</h5>
						<p class="fs-18">Allow users to tweak the site’s look and feel, URLs, the data displayed on the
							page, and more.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-primary pt-7 pb-10 pb-lg-4">
	<div class="container container-xl">
		<div class="row align-items-center">
			<div class="col-lg-8 mb-3 mb-lg-0">
				<img src="{{ '/images/landing-image-102.png' | document_url }}"
				     alt="Glowing Elements" data-animate="fadeInUp">
			</div>
			<div class="col-lg-4 pl-xl-9">
				<div class="card bg-transparent border-0">
					<div class="card-body p-0 text-center text-lg-left">
						<h2 class="card-title fs-48 lh-116 text-white mb-4 mb-lg-6" data-animate="fadeInUp">Glowing<br> Elements</h2>
						<p class="card-text text-white fs-18 opacity-7 mx-auto mx-lg-0" style="max-width: 340px" data-animate="fadeInUp">
							Pre-designed elements
							with specifically useful function facilitate the success of your online store.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-10 pt-lg-13 pb-lg-15 pb-11">
	<div class="container container-xl" style="max-width: 1290px">
		<h2 class="text-center fs-48 lh-116 mb-4" data-animate="fadeInUp">Dedicated Support Center </h2>
		<p class="text-center fs-18 mb-8" data-animate="fadeInUp">Have a problem? Let us help you!</p>
		<div class="row">
			<div class="col-md-6 mb-6 mb-md-0">
				<div class="card rounded border-0 shadow-3 pr-lg-7 pl-lg-8 px-6" data-animate="fadeInUp">
					<div class="row no-gutters align-items-center mh-300">
						<div class="col-sm-6 order-sm-2">
							<img src="{{ '/images/landing-image-100.png' | document_url }}"
							     alt="Dedicated Support">
						</div>
						<div class="col-sm-6">
							<div class="card-body p-0 pb-sm-0 pb-6">
								<h5 class="card-title fs-28 lh-14 text-primary"><span class="underline-primary">Dedicated</span>
									<br> <span class="underline-primary">Support</span></h5>
								<p class="card-text fs-18">Ready to help and solve your problems at any time</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card rounded border-0 shadow-3 pr-lg-7 pl-lg-8 px-6" data-animate="fadeInUp">
					<div class="row no-gutters align-items-center mh-300">
						<div class="col-sm-6 order-sm-2">
							<img src="{{ '/images/landing-image-101.png' | document_url }}"
							     alt="Extensive Documentaion">
						</div>
						<div class="col-sm-6">
							<div class="card-body p-0 pb-sm-0 pb-6">
								<h5 class="card-title fs-28 lh-14 text-primary"><span class="underline-primary">Extensive</span>
									<br> <span class="underline-primary">Documentaion</span></h5>
								<p class="card-text fs-18">Detailed instructions from installing to updating</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<section class="bg-img-cover-center position-relative landing-banner parralax-images overflow-hidden"
         style="background-image: url('{{ '/images/bg-slider-landing-01.png' | document_url }}')">
	<div class="container container-3xl py-13 py-xxl-18 position-relative">
		<div class="pb-xxl-15 z-index-10 text-center">
			<img src="{{ '/images/landing-image-103.png' | document_url }}" class="mb-6" data-animate="fadeInUp"
			     alt="Banner Landing 02">
			<h2 class="fs-34 fs-md-48 mx-auto mb-4 lh-116" data-animate="fadeInUp" style="max-width:583px">Building Your
				Dream
				Cosmetics Store</h2>
			<p class="fs-56 mb-2 text-primary font-weight-normal custom-font" data-animate="fadeInUp">with Glowing</p>
		</div>
		<div class="layer z-index-1 position-absolute d-none d-xxl-block" style="left:-272px; top:180px;">
			<img class="rotate-n10" src="{{ '/images/landing-image-97.jpg' | document_url }}"
			     alt="Banner Landing 01">
		</div>
		<div class="layer position-absolute z-index-2 d-none d-xxl-block" style="left:277px; top: 180px">
			<img src="{{ '/images/landing-99.png' | document_url }}" alt="Banner Landing 02">
		</div>
		<div class="layer position-absolute z-index-2 d-none d-xxl-block" style="left:calc(50% - 324px); bottom: -185px">
			<img class="rotate-n10" src="{{ '/images/landing-image-94.jpg' | document_url }}" alt="Banner Landing 02">
		</div>
		<div class="layer position-absolute z-index-2 d-none d-xxl-block" style="right:-160px; bottom:calc(50% - 260px)">
			<img class="rotate-n10" src="{{ '/images/landing-image-96.jpg' | document_url }}" alt="Banner Landing 02">
		</div>
		<div class="layer position-absolute z-index-2 d-none d-xxl-block" style="right:388px; top:-138px;">
			<img class="rotate-n10 overflow-hidden" style="border-radius: 10px"
			     src="{{ '/images/landing-image-95.jpg' | document_url }}" alt="Banner Landing 02">
		</div>
	</div>
</section>