---
layout: default
title: "Product Detail 05"
---
<section class="py-2 bg-gray-2">
    <div class="container container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                <li class="breadcrumb-item"><a class="text-decoration-none text-body"
                                               href="{{ '/index.html' | document_url }}">Home</a>
                </li>
                <li class="breadcrumb-item pl-0 d-flex align-items-center"><a class="text-decoration-none text-body"
                                                                              href="{{ '/shop-page-01.html' | document_url }}">Shop
                    Grid Layout</a>
                </li>
                <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Natural Coconut
                    Cleansing Oil
                </li>
            </ol>
        </nav>
    </div>
</section>
<section class="pt-11 pb-11 pb-lg-14 product-details-layout-5">
    <div class="container container-xl">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl mb-8 mb-md-0 primary-gallery summary-sticky" id="summary-sticky">
                <div class="primary-summary-inner">
                    <div class="galleries-product galleries-product-01 position-relative d-flex ">
                        <div class="position-absolute pos-fixed-top-right z-index-2 w-100">
                            <div class="p-3">
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                                   class="add-to-wishlist d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle ml-auto">
                                    <svg class="icon icon-star-light fs-24">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                                <a href="https://www.youtube.com/watch?v=6v2L2UGZJAM" data-toggle="tooltip"
                                   data-placement="left" title="Play Video" data-gtf-mfp="true"
                                   data-mfp-options='{"type":"iframe","preloader":false}'
                                   class="add-to-compare d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mt-2 ml-auto">
                                    <svg class="icon icon-Play fs-24">
                                        <use xlink:href="#icon-Play"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="slick-slider slider-for mx-0 pl-xl-5"
                             data-slick-options='{"slidesToShow": 1,"vertical":true, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-nav","responsive":[{"breakpoint": 1200,"settings": {"vertical": false}}]}'>
                            {% for gallery in site.data.product-detail-05.galleries %}
                            <div class="box px-0">
                                <div class="card p-0 rounded-0 border-0">
                                    <a href="{{ gallery.image | document_url }}" class="card-img" data-gtf-mfp="true"
                                       data-gallery-id="02">
                                        <img src="{{ gallery.image | document_url }}" alt="product gallery"
                                             class="w-100">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="slick-slider slider-nav mx-n1 mx-xl-0"
                             data-slick-options='{"slidesToShow": 5,"vertical":true, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-for","focusOnSelect": true,"responsive":[{"breakpoint": 1200,"settings": {"vertical": false}}]}'>
                            {% for gallery in site.data.product-detail-05.galleries %}
                            <div class="box px-1 px-xl-0 py-2 pt-xl-0">
                                <img src="{{ gallery.image | document_url }}" class="w-100" alt="product gallery">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl pl-xl-7">
                <p class="d-flex align-items-center mb-3">
                    <span class="text-line-through">$39.00</span>
                    <span class="fs-18 text-secondary font-weight-bold ml-3">$29.00</span>
                    <span class="badge badge-primary fs-16 ml-4 font-weight-600 px-3">20%</span>
                </p>
                <h2 class="fs-24 mb-2">Natural Coconut Cleansing Oil</h2>
                <div class="d-flex align-items-center flex-wrap mb-3 lh-12">
                    <p class="mb-0 font-weight-600 text-secondary">4.86</p>
                    <ul class="list-inline d-flex mb-0 px-3 rating-result">
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                    </ul>
                    <a href="#" class="pl-3 border-left border-gray-2 text-body">Read 2947 reviews</a>
                </div>
                <p class="mb-5">Niacinamide and Vitamin C are two anti-aging superstars but not usually formulated
                    together because of their different pH levels.</p>
                <form>
                    <div class="form-group shop-swatch mb-5 d-flex align-items-center">
                        <span class="font-weight-600 text-secondary mr-4">Size: </span>
                        <ul class="list-inline d-flex justify-content-start mb-0">
                            <li class="list-inline-item mr-2 selected font-weight-600">
                                <a href="#"
                                   class="fs-14 p-2 lh-13 d-block swatches-item rounded text-decoration-none border"
                                   data-var="full size">Full size</a>
                            </li>
                            <li class="list-inline-item font-weight-600">
                                <a href="#"
                                   class="fs-14 p-2 lh-13 d-block swatches-item rounded text-decoration-none border"
                                   data-var="mini size">Mini size</a>
                            </li>
                        </ul>
                        <select name="swatches" class="form-select swatches-select d-none"
                                aria-label="Default select example">
                            <option selected value="full size">Full size</option>
                            <option value="mini size">Mini size</option>
                        </select>
                    </div>
                    <div class="form-group shop-swatch-color mb-4">
                        <label class="mb-2"><span class="font-weight-600 text-secondary mr-2">Color:</span> <span
                                class="var text-capitalize text-body">Green - Revitalizing</span></label>
                        <ul class="list-inline d-flex justify-content-start mb-0">
                            <li class="list-inline-item selected">
                                <a href="#" class="d-block swatches-item" data-var="green-revitalizing"
                                   style="background-color: #80A288;"> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="d-block swatches-item" data-var="pink"
                                   style="background-color: #EAC8D9;"></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="d-block swatches-item" data-var="yellow"
                                   style="background-color: #D9CCA1;"> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="d-block swatches-item" data-var="purple"
                                   style="background-color: #A5AFCF;"> </a>
                            </li>
                        </ul>
                        <select name="swatches" class="form-select swatches-select d-none"
                                aria-label="Default select example">
                            <option selected value="black">Green - Revitalizing</option>
                            <option value="pink">Pink</option>
                            <option value="yellow">Green</option>
                            <option value="purple">Purple</option>
                        </select>
                    </div>
                    <div class="row align-items-end no-gutters mx-n2">
                        <div class="col-sm-4 form-group px-2 mb-5">
                            <label class="text-secondary font-weight-600 mb-3"
                                   for="number">Quantity: </label>
                            <div class="input-group position-relative w-100">
                                <a href="#" class="down position-absolute pos-fixed-left-center pl-4 z-index-2"><i
                                        class="far fa-minus"></i></a>
                                <input name="number" type="number" id="number"
                                       class="form-control w-100 px-6 text-center input-quality text-secondary h-60 fs-18 font-weight-bold border-0"
                                       value="1" required>
                                <a href="#"
                                   class="up position-absolute pos-fixed-right-center pr-4 z-index-2"><i
                                        class="far fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8 mb-5 w-100 px-2">
                            <button type="submit"
                                    class="btn btn-lg fs-18 btn-secondary btn-block h-60 bg-hover-primary border-0">Add
                                To Bag
                            </button>
                        </div>
                    </div>
                </form>
                <div class="d-flex align-items-center flex-wrap">
                    <a href="#" class="text-decoration-none font-weight-bold fs-16 mr-6 d-flex align-items-center">
                        <svg class="icon icon-arrows-left-right-light fs-20">
                            <use xlink:href="#icon-arrows-left-right-light"></use>
                        </svg>
                        <span class="ml-2">Compare</span>
                    </a>
                    <a href="#" class="text-decoration-none font-weight-bold fs-16 mr-6 d-flex align-items-center">
                        <svg class="icon icon-star-light fs-20">
                            <use xlink:href="#icon-star-light"></use>
                        </svg>
                        <span class="ml-2">Add to wishlist</span>
                    </a>
                    <a href="#" class="text-decoration-none font-weight-bold fs-16 d-flex align-items-center">
                        <svg class="icon icon-ShareNetwork fs-20">
                            <use xlink:href="#icon-ShareNetwork"></use>
                        </svg>
                        <span class="ml-2">Share</span>
                    </a>
                </div>
                <ul class="list-unstyled border-top pt-4 mt-5 mb-lg-9 mb-7">
                    <li class="row mb-2">
                        <span class="d-block col-4 col-lg-2 text-secondary font-weight-600 fs-14">Sku:</span>
                        <span class="d-block col-8 col-lg-10">SF09281</span>
                    </li>
                    <li class="row mb-2">
                        <span class="d-block col-4 col-lg-2 text-secondary font-weight-600 fs-14">Categories:</span>
                        <span class="d-block col-8 col-lg-10">Makeup, Skincare</span>
                    </li>
                </ul>
                <div id="accordion-style" class="accordion">
                    <div class="card border-0 mb-4">
                        <div class="card-header border-0 p-0 bg-transparent bg-transparent"
                             id="headingProductDetail">
                            <h5 class="mb-0 fs-24 w-100">
                                <a href="#"
                                   class="d-flex align-items-center border-bottom pb-2 text-decoration-none"
                                   data-toggle="collapse"
                                   data-target="#product-detail"
                                   aria-expanded="true" aria-controls="product-detail">
                                    <span>Product Detail</span>
                                    <span class="icon d-inline-block ml-auto"></span>
                                </a>
                            </h5>
                        </div>
                        <div id="product-detail" class="collapse show" aria-labelledby="headingProductDetail"
                             data-parent="#accordion-style">
                            <div class="card-body pt-5 pb-1 px-0">
                                <p class="font-weight-600 text-secondary mb-2">For Normal, Oily, Combination
                                    Skin Types</p>
                                <p class="mb-2">Complexion-perfecting natural foundation enriched with
                                    antioxidant-packed superfruits, vitamins, and other skin-nourishing
                                    nutrients. Creamy liquid formula sets with a pristine matte finish
                                    for soft, velvety smooth skin.</p>
                                <p class="mb-4">Say hello to flawless, long-lasting foundation that
                                    comes in 7
                                    melt-into-your-skin shades. This lightweight, innovative formula
                                    creates a smooth, natural matte finish that won’t settle into lines.
                                    It’s the perfect fit for your skin. 1 fl. oz.</p>

                                <p class="font-weight-600 text-secondary mb-2">Benefits</p>
                                <ul class="pl-3 mb-5">
                                    <li class="mb-1">Buildable medium-to-full coverage</li>
                                    <li class="mb-1">Weightless, airy feel—no caking!</li>
                                    <li class="mb-1">Long-wearing</li>
                                    <li class="mb-1">Evens skin tone</li>
                                    <li>Available in 07 shades (all exclusive to Makeaholic!)</li>
                                </ul>
                                <div class="row">
                                    {% for img in site.data.product-detail-01.image-box %}
                                    <div class="col-6 col-md-3 text-center mb-6">
                                        <img src="{{ img.image | document_url }}" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 mb-4">
                        <div class="card-header border-0 p-0 bg-transparent bg-transparent" id="headingHowToUse">
                            <h5 class="mb-0 fs-24 w-100">
                                <a href="#"
                                   class="d-flex align-items-center border-bottom pb-2 text-decoration-none collapsed"
                                   data-toggle="collapse"
                                   data-target="#how-to-use"
                                   aria-expanded="true" aria-controls="how-to-use">
                                    <span>How To Use</span>
                                    <span class="icon d-inline-block ml-auto"></span>
                                </a>
                            </h5>
                        </div>
                        <div id="how-to-use" class="collapse" aria-labelledby="headingHowToUse"
                             data-parent="#accordion-style">
                            <div class="card-body pt-5 pb-1 px-0">
                                <p class="font-weight-600 text-secondary mb-2">Follow these safety guidelines when
                                    using cosmetics products of any type:</p>
                                <ul class="pl-3 mb-5">
                                    <li class="mb-1">Read the label. Follow all directions and heed all warnings.
                                    </li>
                                    <li class="mb-1">Wash your hands before you use the product.</li>
                                    <li class="mb-1">Do not share makeup.</li>
                                    <li class="mb-1">Keep the containers clean and tightly closed when not in use,
                                        and protect them from temperature extremes.
                                    </li>
                                    <li class="mb-1">Throw away cosmetics if there are changes in color or smell.
                                    </li>
                                    <li>Use aerosols or sprays cans in well-ventilated areas. Do not use them while
                                        you are smoking or near an open flame. It could start a fire.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-header border-0 p-0 bg-transparent bg-transparent" id="headingIngredients">
                            <h5 class="mb-0 fs-24 w-100">
                                <a href="#"
                                   class="d-flex align-items-center border-bottom pb-2 text-decoration-none collapsed"
                                   data-toggle="collapse"
                                   data-target="#ingredients"
                                   aria-expanded="true" aria-controls="ingredients">
                                    <span>Ingredients</span>
                                    <span class="icon d-inline-block ml-auto"></span>
                                </a>
                            </h5>
                        </div>
                        <div id="ingredients" class="collapse" aria-labelledby="headingIngredients"
                             data-parent="#accordion-style">
                            <div class="card-body pt-5 pb-1 px-0">
                                <div class="table-responsive mb-5">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                        <tr>
                                            <td class="pl-0 text-secondary">CAS</td>
                                            <td class="text-right pr-0">92128-82-0, 9057-02-7</td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0 text-secondary">INCI</td>
                                            <td class="text-right pr-0">Nannochloropsis Oculata (micro algae)
                                                extract, pullulan
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0 text-secondary">Composition</td>
                                            <td class="text-right pr-0">Nannochloropsis Oculata (micro algae)
                                                extract, pullulan, water, ethanol
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0 text-secondary">Appearance</td>
                                            <td class="text-right pr-0">Yellow to amber, viscous liquid</td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0 text-secondary">Solubility</td>
                                            <td class="text-right pr-0">Soluble in water & ethanol</td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0 text-secondary">Storage</td>
                                            <td class="text-right pr-0">Store refrigerated (4-8oC / 39-46oF)</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p>
                                    Perfect for Equestrian homes or every horse lover. Designer premium
                                    signature aluminum alloy all Arthur Court is compliance with FDA
                                    regulations. Aluminum Serveware can be chilled in the freezer or
                                    refrigerator and warmed in the oven to 350. Wash by hand with mild dish
                                    soap and dry immediately – do not put in the dishwasher. Comes in Gift
                                    Box perfect for Equestrian home or Horse lover in your life.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 custom-col-xl-01 d-none d-lg-block">
                <div class="primary-sidebar-inner">
                    <div class="card border-0 mb-8">
                        <div class="card-header bg-transparent border-0 p-0">
                            <h3 class="card-title fs-20 mb-0">
                                Search
                            </h3>
                        </div>
                        <div class="card-body px-0 pt-3 pb-0">
                            <form class="mx-auto w-100">
                                <div class="input-group">
                                    <div class="input-group-prepend position-absolute z-index-10">
                                        <button class="btn border-0 bg-transparent text-secondary fs-20 px-4 lh-14"
                                                type="submit" id="button-addon1"><i class="far fa-search"></i></button>
                                    </div>
                                    <input type="text" class="form-control border-0 pl-8 rounded" placeholder="Search"
                                           aria-describedby="button-addon1">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card border-0 mb-6">
                        <div class="card-header bg-transparent border-0 p-0">
                            <h4 class="card-title fs-20 mb-3">Hightlight</h4>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2">
                                    <a href="#" class="text-body hover-secondary">
                                        Best Seller
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a href="#" class="text-body hover-secondary">
                                        New Arrivals
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a href="#" class="text-body hover-secondary">
                                        Sale
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a href="#" class="text-body hover-secondary">
                                        Hot Items
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-0 mb-7">
                        <div class="card-header bg-transparent border-0 p-0">
                            <h3 class="card-title fs-20 mb-0">
                                Recent Products
                            </h3>
                        </div>
                        <div class="card-body px-0 pt-3 pb-0">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-4">
                                    <div class="media align-items-center">
                                        <a href="#" class="d-block w-60px mr-4"><img
                                                src="{{ '/images/product-10.jpg' | document_url }}"
                                                alt="Sampson Totton"></a>
                                        <div class="media-body">
                                            <p class="d-flex align-items-center mb-1 fs-13">
                                                <span class="text-line-through">$39.00</span>
                                                <span class="fs-14 text-secondary font-weight-bold ml-1">$29.00</span>
                                            </p>
                                            <a class="text-decoration-none"
                                               href="{{ '/product-detail-01.html' | document_url }}">Facial
                                                Cleanser </a>
                                            <div class="d-flex align-items-center flex-wrap lh-12">
                                                <ul class="list-inline d-flex mb-0 rating-result">
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                </ul>
                                                <p class="mb-0 ml-1 font-weight-normal fs-14 lh-1">(149)</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <div class="media align-items-center">
                                        <a href="#" class="d-block w-60px mr-4"><img
                                                src="{{ '/images/product-01.jpg' | document_url }}"
                                                alt="Sampson Totton"></a>
                                        <div class="media-body">
                                            <p class="d-flex align-items-center mb-1 fs-13">
                                                <span class="text-line-through">$39.00</span>
                                                <span class="fs-14 text-secondary font-weight-bold ml-1">$29.00</span>
                                            </p>
                                            <a class="text-decoration-none"
                                               href="{{ '/product-detail-01.html' | document_url }}">Caffeine Eye
                                                Cream</a>
                                            <div class="d-flex align-items-center flex-wrap lh-12">
                                                <ul class="list-inline d-flex mb-0 rating-result">
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                </ul>
                                                <p class="mb-0 ml-1 font-weight-normal fs-14 lh-1">(149)</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <div class="media align-items-center">
                                        <a href="#" class="d-block w-60px mr-4"><img
                                                src="{{ '/images/product-04.jpg' | document_url }}"
                                                alt="Sampson Totton"></a>
                                        <div class="media-body">
                                            <p class="d-flex align-items-center mb-1 fs-13">
                                                <span class="text-line-through">$39.00</span>
                                                <span class="fs-14 text-secondary font-weight-bold ml-1">$29.00</span>
                                            </p>
                                            <a class="text-decoration-none"
                                               href="{{ '/product-detail-01.html' | document_url }}">Facial Cleanser</a>
                                            <div class="d-flex align-items-center flex-wrap lh-12">
                                                <ul class="list-inline d-flex mb-0 rating-result">
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="text-primary fs-12 lh-2"><i
                                                                class="fas fa-star"></i></span>
                                                    </li>
                                                </ul>
                                                <p class="mb-0 ml-1 font-weight-normal fs-14 lh-1">(149)</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-0 hover-shine banner banner-05">
                        <div class="card-img bg-img-cover-center"
                             style="background-image: url('{{ '/images/sidebar-blog-01.jpg' | document_url }}');"></div>
                        <div class="card-img-overlay d-inline-flex flex-column px-4 pt-4 pb-2 text-center z-index-3">
                            <h3 class="card-title fs-30 lh-12 text-white text-uppercase">Be your kind of beauty</h3>
                            <div class="mt-auto">
                                <a href="#"
                                   class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1 h-40 lh-1">Explore
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-10 pt-lg-12 pb-9 pb-lg-11 border-top">
    <div class="container container-xl">
        {% include single-product/you-may-also-like-02.html %}
    </div>
</section>
<section class="pt-10 pb-11 pt-lg-11 pb-lg-13 border-top">
    <div class="container container-xl">
        {% include single-product/review-layout-02.html %}
    </div>
</section>