---
layout: default
title: "Product Detail 02"
---
<section class="py-2 bg-gray-2">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                <li class="breadcrumb-item"><a class="text-decoration-none text-body"
                                               href="{{ '/index.html' | document_url }}">Home</a>
                </li>
                <li class="breadcrumb-item pl-0 d-flex align-items-center"><a class="text-decoration-none text-body"
                                                                              href="{{ '/shop-page-01.html' | document_url }}">Shop
                    Grid Layout</a>
                </li>
                <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Natural Coconut
                    Cleansing Oil
                </li>
            </ol>
        </nav>
    </div>
</section>
<section class="pt-11 product-details-layout-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-xl-9 mb-8 mb-md-0">
                <div class="galleries-product galleries-product-02 position-relative">
                    <div class="position-absolute pos-fixed-top-right z-index-2 w-100">
                        <div class="p-3">
                            <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                               class="add-to-wishlist d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle ml-auto">
                                <svg class="icon icon-star-light fs-24">
                                    <use xlink:href="#icon-star-light"></use>
                                </svg>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
                               class="add-to-compare d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mt-2 ml-auto">
                                <svg class="icon icon-arrows-left-right-light fs-24">
                                    <use xlink:href="#icon-arrows-left-right-light"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="slick-slider slider-for mx-0"
                         data-slick-options='{"slidesToShow": 1, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-nav"}'>
                        {% for gallery in site.data.product-detail-02.galleries %}
                        <div class="box px-0">
                            <div class="card p-0 rounded-0 border-0">
                                <a href="{{ gallery.image | document_url }}" class="card-img" data-gtf-mfp="true"
                                   data-gallery-id="02">
                                    <img src="{{ gallery.image | document_url }}" alt="product gallery" class="w-100">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="slick-slider slider-nav mx-n1"
                         data-slick-options='{"slidesToShow": 5, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-for","focusOnSelect": true}'>
                        {% for gallery in site.data.product-detail-02.galleries %}
                        <div class="box py-4 px-1">
                            <img src="{{ gallery.image | document_url }}" class="w-100" alt="product gallery">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="d-flex align-items-center mb-3">
                    <span class="text-line-through">$39.00</span>
                    <span class="fs-18 text-secondary font-weight-bold ml-3">$29.00</span>
                    <span class="badge badge-primary fs-16 ml-4 font-weight-600 px-3">20%</span>
                </p>
                <h2 class="fs-24 mb-2">Natural Coconut Cleansing Oil</h2>
                <div class="d-flex align-items-center flex-wrap mb-3 lh-12">
                    <p class="mb-0 font-weight-600 text-secondary">4.86</p>
                    <ul class="list-inline d-flex mb-0 px-3 rating-result">
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-0">
                            <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
                        </li>
                    </ul>
                    <a href="#" class="pl-3 border-left border-gray-2 text-body">Read 2947 reviews</a>
                </div>
                <p class="mb-4">Niacinamide and Vitamin C are two anti-aging superstars but not usually formulated
                    together because of their different pH levels.</p>
                <p class="mb-2">
                    <span class="text-secondary"><svg class="icon icon-eye-light fs-20 mr-2 align-text-bottom"><use
                            xlink:href="#icon-eye-light"></use></svg>
                        17 people</span> are viewing this right now
                </p>
                <p class="text-secondary mb-2">
                    <svg class="icon icon-Timer fs-20 mr-2 align-text-bottom">
                        <use xlink:href="#icon-Timer"></use>
                    </svg>
                    Only 9 left in stock
                </p>
                <div class="progress mb-4" style="height: 4px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <form>
                    <div class="row align-items-end no-gutters mx-n2">
                        <div class="col-sm-4 form-group px-2 mb-6">
                            <label class="text-secondary font-weight-600 mb-3"
                                   for="number">Quantity: </label>
                            <div class="input-group position-relative w-100">
                                <a href="#" class="down position-absolute pos-fixed-left-center pl-4 z-index-2"><i
                                        class="far fa-minus"></i></a>
                                <input name="number" type="number" id="number"
                                       class="form-control w-100 px-6 text-center input-quality text-secondary h-60 fs-18 font-weight-bold border-0"
                                       value="1" required>
                                <a href="#"
                                   class="up position-absolute pos-fixed-right-center pr-4 z-index-2"><i
                                        class="far fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8 mb-6 w-100 px-2">
                            <button type="submit"
                                    class="btn btn-lg fs-18 btn-secondary btn-block h-60 bg-hover-primary border-0">Add
                                To Bag
                            </button>
                        </div>
                    </div>
                </form>
                <p class="mb-2">
                    <span class="text-secondary"><svg class="icon icon-delivery-1 fs-20 mr-2 align-text-bottom"><use
                            xlink:href="#icon-delivery-1"></use></svg>
                        Get it between:</span> Feb 3 - Feb 14,2021
                </p>
                <p class="mb-5">
                    <span class="text-secondary"><svg class="icon icon-Package fs-20 mr-2 align-text-bottom"><use
                            xlink:href="#icon-Package"></use></svg>
                        Free Shipping & Returns:</span> On all orders over $200
                </p>
                <div class="card border-0 bg-input rounded text-center">
                    <div class="pt-5">
                        <img class="w-auto" src="{{ '/images/single-product-13.png' | document_url }}" alt="pay">
                    </div>
                    <div class="card-body pt-3 pb-4">
                        <p class="fs-14 font-weight-normal mb-0">Guarantee safe & secure checkout</p>
                    </div>
                </div>
                <ul class="list-unstyled pt-5 mb-0">
                    <li class="row mb-1">
                        <span class="d-block col-4 col-lg-2 text-secondary font-weight-600 fs-14">Sku:</span>
                        <span class="d-block col-8 col-lg-10">SF09281</span>
                    </li>
                    <li class="row">
                        <span class="d-block col-4 col-lg-2 text-secondary font-weight-600 fs-14">Categories:</span>
                        <span class="d-block col-8 col-lg-10">Makeup, Skincare</span>
                    </li>
                </ul>
                <ul class="list-inline d-flex justify-content-start mb-0 fs-16 pt-3">
                    <li class="list-inline-item">
                        <a class="text-body hover-secondary text-decoration-none" href="#"><i
                                class="fab fa-facebook-f mr-1"></i> Facebook</a>
                    </li>
                    <li class="list-inline-item ml-4">
                        <a class="text-body hover-secondary text-decoration-none" href="#"><i
                                class="fab fa-instagram mr-1"></i> Instagram</a>
                    </li>
                    <li class="list-inline-item ml-4">
                        <a class="text-body hover-secondary text-decoration-none" href="#"><i
                                class="fab fa-youtube mr-1"></i> Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="pt-lg-11 pt-9 mb-lg-13 mb-11">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="card-title fs-34">Frequently Bought Togheter</h3>
                <p class="text-secondary mb-4">You will get <a class="text-primary" href="#">20% OFF</a> on each product</p>
            </div>
            <div class="col-12">
                <form class="row align-items-center frequently-bought-togheter">
                    {% for togheter in site.data.product-detail-02.togheter %}
                    <div class="col-4 col-md-2 frequently-bought-togheter-item">
                        <div class="position-relative">
                            <div class="position-absolute pos-fixed-top-right z-index-2 w-100">
                                <div class="p-3 content-change-vertical">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add Item" data-added="Added"
                                       class="add-to-item d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary shadow-2 w-32px h-32px rounded-circle ml-auto fs-14">
                                        <svg class="icon icon-plus">
                                            <use xlink:href="#icon-plus"></use>
                                        </svg>
                                    </a>
                                    <input class="form-check-input d-none" type="checkbox"
                                           name="{{ togheter.data-name }}">
                                </div>
                            </div>
                            <img src="{{ togheter.image | document_url }}" alt="Frequently Bought Togheter">
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-6 mt-md-0 mt-6">
                        <div class="card border-0">
                            <div class="card-body p-0">
                                <p class="card-text fs-16 mb-4">Total price: <span
                                        class="text-secondary fs-20 font-weight-bold">$82.00</span></p>
                                <button type="submit" class="btn btn-secondary bg-hover-primary border-0 px-8">Add
                                    Selected Items
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" name="customCheck6" checked id="customCheck5">
                            <label class="custom-control-label custom-control-label-secondary text-secondary" for="customCheck5">
                                <span class="text-body">This items:</span> Natural Coconut Cleansing Oil</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" name="customCheck6" checked id="customCheck6">
                            <label class="custom-control-label custom-control-label-secondary text-secondary" for="customCheck6">
                                Daily Perfecting Cream - $29.00</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="customCheck7" checked id="customCheck7">
                            <label class="custom-control-label custom-control-label-secondary text-secondary" for="customCheck7">
                                Dry-Touch Oil Mist - $29.00</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="pt-10 pt-lg-12 pb-10 pb-md-6 pb-lg-12 border-top">
    <div class="container">
        {% include single-product/tabs.html %}
    </div>
</section>
<section class="pt-10 pt-lg-12 pb-9 pb-lg-12 border-top">
    <div class="container">
        {% include single-product/you-may-also-like-01.html %}
    </div>
</section>
<section class="pt-10 pb-11 pt-lg-12 pb-lg-13 border-top">
    <div class="container">
        {% include single-product/review-layout-01.html %}
    </div>
</section>