<header class="main-header navbar-light header-sticky header-sticky-smart">
	<div class="topbar d-none d-xl-block" style="background-color:#EDF1F0;">
		<div class="container container-xl d-flex justify-content-between">
			<ul class="list-inline d-flex align-items-center mb-0">
				<li class="list-inline-item mr-5"><a href="#" class="fs-14 lh-1"><i class="fab fa-twitter"></i></a></li>
				<li class="list-inline-item mr-5"><a href="#" class="fs-14 lh-1"><i class="fab fa-facebook-f"></i></a></li>
				<li class="list-inline-item mr-5"><a href="#" class="fs-14 lh-1"><i class="fab fa-instagram"></i></a></li>
				<li class="list-inline-item mr-5"><a href="#" class="fs-14 lh-1"><i class="fab fa-youtube"></i></a></li>
			</ul>
			<p class="mb-0 fs-13 font-weight-bold text-primary letter-spacing-01 text-uppercase">Free shipping on all U.S. orders $50+</p>
			<div class ="d-flex">
				<div class="dropdown">
					<button class="btn btn-link dropdown-toggle text-uppercase fs-13 letter-spacing-01 py-0" type="button" id="dropdown-english" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						english
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdown-english">
						<a class="dropdown-item" href="#">French</a>
						<a class="dropdown-item" href="#">Spanish</a>
						<a class="dropdown-item" href="#">Korean</a>
						<a class="dropdown-item" href="#">Chinese</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="btn btn-link dropdown-toggle text-uppercase fs-13 letter-spacing-01 p-0" type="button" id="dropdown-usd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						USd
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdown-usd">
						<a class="dropdown-item" href="#">EUR</a>
						<a class="dropdown-item" href="#">GBP</a>
						<a class="dropdown-item" href="#">JPY</a>
						<a class="dropdown-item" href="#">AUD</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sticky-area bg-white">
		<div class="{{ page.header_container| default: 'container container-xl' }}">
			<nav class="navbar navbar-expand-xl px-0 d-block">
				<div class="d-none d-xl-block">
					<div class="d-flex align-items-center flex-nowrap">
						<div class="w-50 d-flex align-items-center">
							<a href="#search-popup" data-gtf-mfp="true"
							   data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
							   class="nav-search d-flex align-items-center pr-3 mr-auto">
								<svg class="icon icon-magnifying-glass-light fs-28">
									<use xlink:href="#icon-magnifying-glass-light"></use>
								</svg>
								<span class="d-none d-xl-inline-block ml-2 text-body">Search</span>
							</a>
							{% include navbar-main-left.html %}
						</div>
						<div class="mx-auto flex-shrink-0 position-static">
							<div class="d-flex mt-3 mt-xl-0 align-items-center w-100 justify-content-center">
								<a class="navbar-brand mx-4 mx-xxl-10 d-none d-xl-inline-block"
								   href="{{ '/index.html' | document_url }}">
									<img src="{{ '/images/logo-black.png' | document_url }}" alt="{{site.title}}">
								</a>
							</div>
						</div>
						<div class="w-50 d-flex align-items-center justify-content-between">
							{% include navbar-main-right.html %}
							{% include navbar-right.html %}
						</div>
					</div>
				</div>
				<div class="d-flex align-items-center d-xl-none">
					<button class="navbar-toggler border-0 px-0 canvas-toggle" type="button"
					        data-canvas="true"
					        data-canvas-options='{"width":"250px","container":".sidenav"}'>
						<span class="fs-24 toggle-icon"></span>
					</button>
					<div class="mx-auto"><a class="navbar-brand d-inline-block mr-0 py-5"
					                        href="{{ '/index.html' | document_url }}">
						<img src="{{ '/images/logo-black.png' | document_url }}" alt="{{site.title}}">
					</a></div>
					<a href="#search-popup" data-gtf-mfp="true"
					   data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
					   class="nav-search d-flex align-items-center">
						<svg class="icon icon-magnifying-glass-light fs-28">
							<use xlink:href="#icon-magnifying-glass-light"></use>
						</svg>
						<span class="d-none d-xl-inline-block ml-2 font-weight-500">Search</span></a>
				</div>
			</nav>
		</div>
	</div>
</header>
