
<header class="main-header navbar-dark header-sticky header-sticky-smart position-absolute fixed-top">
	<div class="sticky-area">
		<div class="{{ page.header_container| default: 'container container-xxl' }}">
			<nav class="navbar navbar-expand-xl px-0 d-block">
				<div class="d-none d-xl-block header-white">
					<div class="d-flex align-items-center flex-nowrap">
						<div class="w-50 d-flex align-items-center">
							<a href="#search-popup" data-gtf-mfp="true"
							   data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
							   class="nav-search d-flex align-items-center pr-3 mr-auto">
								<svg class="icon icon-magnifying-glass-light fs-28">
									<use xlink:href="#icon-magnifying-glass-light"></use>
								</svg>
								<span class="d-none d-xl-inline-block ml-2">Search</span>
							</a>
							{% include navbar-main-left.html %}
						</div>
						<div class="mx-auto flex-shrink-0 position-static">
							<div class="d-flex mt-3 mt-xl-0 align-items-center w-100 justify-content-center">
								<a class="navbar-brand mx-4 mx-xxl-10 d-none d-xl-inline-block"
								   href="{{ '/index.html' | document_url }}">
									<img src="{{ '/images/logo-white.png' | document_url }}" alt="{{site.title}}"
									     class="normal-logo">
									<img src="{{ '/images/logo-black.png' | document_url }}" alt="{{site.title}}"
									     class="sticky-logo">
								</a>
							</div>
						</div>
						<div class="w-50 d-flex align-items-center justify-content-between">
							{% include navbar-main-right.html %}
							{% include navbar-right.html %}
						</div>
					</div>
				</div>
				<div class="d-flex align-items-center d-xl-none">
					<button class="navbar-toggler border-0 px-0 canvas-toggle" type="button"
					        data-canvas="true"
					        data-canvas-options='{"width":"250px","container":".sidenav"}'>
						<span class="fs-24 toggle-icon"></span>
					</button>
					<div class="mx-auto"><a class="navbar-brand d-inline-block mr-0 py-5"
					                        href="{{ '/index.html' | document_url }}">
						<img src="{{ '/images/logo-white.png' | document_url }}" alt="{{site.title}}"
						     class="normal-logo">
						<img src="{{ '/images/logo-black.png' | document_url }}" alt="{{site.title}}"
						     class="sticky-logo">
					</a></div>
					<a href="#search-popup" data-gtf-mfp="true"
					   data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
					   class="nav-search d-flex align-items-center">
						<svg class="icon icon-magnifying-glass-light fs-28">
							<use xlink:href="#icon-magnifying-glass-light"></use>
						</svg>
						<span class="d-none d-xl-inline-block ml-2 font-weight-500">Search</span></a>
				</div>
			</nav>
		</div>
	</div>
</header>
