<div class="row">
    <div class="col-12">
        <h3 class="text-center fs-34 mb-md-0 mb-8">Customer Reviews</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-lg-4 custom-col-xl-02 form-review-sticky summary-sticky mb-md-0 mb-8 pt-md-8 pt-lg-12" id="form-review-sticky">
        <div class="form-review-inner">
            <div class="card text-center border border-2x rounded">
                <div class="card-body px-2 py-6">
                    <h5 class="card-title fs-48 mb-3">4.86</h5>
                    <ul class="list-inline d-flex rating-result mb-2 justify-content-center">
                        <li class="list-inline-item mr-1">
                            <span class="text-primary lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="text-primary lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="text-primary lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="text-primary lh-2"><i class="fas fa-star"></i></span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="text-primary lh-2"><i class="fas fa-star"></i></span>
                        </li>
                    </ul>
                    <p class="card-text mb-4">2947 Reviews, 18 Q&As</p>
                    <div class="mb-5">
                        <div class="d-flex align-items-center justify-content-center fs-14 mb-2">
                            <p class="mb-0 text-secondary w-43px text-left">5 stars</p>
                            <div class="d-block mw-160 mw-lg-120px mw-sm-60 w-100 mx-3">
                                <div class="progress rating-progress" style="height:6px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 78%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <p class="w-28px mb-0 text-right">78%</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center fs-14 mb-2">
                            <p class="mb-0 text-secondary w-43px text-left">4 stars</p>
                            <div class="d-block mw-160 mw-lg-120px mw-sm-60 w-100 mx-3">
                                <div class="progress rating-progress" style="height:6px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 17%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <p class="w-28px mb-0 text-right">17%</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center fs-14 mb-2">
                            <p class="mb-0 text-secondary w-43px text-left">3 stars</p>
                            <div class="d-block mw-160 mw-lg-120px mw-sm-60 w-100 mx-3">
                                <div class="progress rating-progress" style="height:6px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 3%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <p class="w-28px mb-0 text-right">3%</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center fs-14 mb-2">
                            <p class="mb-0 text-secondary w-43px text-left">2 stars</p>
                            <div class="d-block mw-160 mw-lg-120px mw-sm-60 w-100 mx-3">
                                <div class="progress rating-progress" style="height:6px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 2%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <p class="w-28px mb-0 text-right">2%</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center fs-14 mb-2">
                            <p class="mb-0 w-43px text-left">1 stars</p>
                            <div class="d-block mw-160 mw-lg-120px mw-sm-60 w-100 mx-3">
                                <div class="progress rating-progress" style="height:6px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 0%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <p class="w-28px mb-0 text-right">0%</p>
                        </div>
                    </div>
                    <a href="#customer-review"
                       class=" btn btn-outline-secondary border border-2x border-hover-secondary write-review fs-16">
                        <svg class="icon icon-Pencil">
                            <use xlink:href="#icon-Pencil"></use>
                        </svg>
                        Wire A Review
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-lg-8 col-xl pt-md-8 pl-xl-8 pt-lg-12" id="customer-review">
        <div class="row">
            <div class="col-12 overflow-hidden">
                <div class="card border-0 mt-2 mb-7 form-review hide">
                    <div class="card-body p-0">
                        <form>
                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group mb-4">
                                        <label class="text-secondary font-weight-600"
                                               for="reviewName">Name</label>
                                        <input id="reviewName" class="form-control border-0" type="text"
                                               name="name">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group mb-4">
                                        <label class="text-secondary font-weight-600"
                                               for="reviewEmail">Email</label>
                                        <input id="reviewEmail" type="email" name="email"
                                               class="form-control border-0">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="text-secondary font-weight-600 mb-0 mr-2 mb-2">Your Rating*</p>
                                <div class="form-group mb-3 d-flex justify-content-start">
                                    <div class="rate-input">
                                        <input type="radio" id="star5" name="rate" value="5">
                                        <label for="star5" title="text" class="mb-0 mr-1 lh-1">
                                            <i class="fal fa-star"></i>
                                        </label>
                                        <input type="radio" id="star4" name="rate" value="4">
                                        <label for="star4" title="text" class="mb-0 mr-1 lh-1">
                                            <i class="fal fa-star"></i>
                                        </label>
                                        <input type="radio" id="star3" name="rate" value="3">
                                        <label for="star3" title="text" class="mb-0 mr-1 lh-1">
                                            <i class="fal fa-star"></i>
                                        </label>
                                        <input type="radio" id="star2" name="rate" value="2">
                                        <label for="star2" title="text" class="mb-0 mr-1 lh-1">
                                            <i class="fal fa-star"></i>
                                        </label>
                                        <input type="radio" id="star1" name="rate" value="1">
                                        <label for="star1" title="text" class="mb-0 mr-1 lh-1">
                                            <i class="fal fa-star"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="text-secondary font-weight-600" for="reviewTitle">Title of
                                    Review:</label>
                                <input id="reviewTitle" type="text" name="title" class="form-control border-0">
                            </div>
                            <div class="form-group mb-6">
                                <label class="text-secondary font-weight-600" for="reviewMessage">How was your
                                    overall
                                    experience?</label>
                                <textarea id="reviewMessage" class="form-control border-0" name="message"
                                          rows="5"></textarea>
                            </div>
                            <div class="justify-content-end d-flex">
                                <div class="mr-4">
                                    <div class="input-group align-items-center">
                                        <span class="name-file mr-4"></span>
                                        <label class="btn btn-outline-secondary btn-custom-input-file bg-hover-secondary bg-transparent border border-2x border-hover-secondary fs-16 font-weight-600 mb-0"
                                               for="reviewrAddPhoto">
                                            <svg class="icon icon-Camera fs-20">
                                                <use xlink:href="#icon-Camera"></use>
                                            </svg>
                                            Add Photos
                                        </label>
                                        <input type="file" name="img"
                                               class="form-control custom-input-file d-none"
                                               id="reviewrAddPhoto">
                                    </div>
                                </div>
                                <button type="submit" class="btn fs-16 btn-secondary">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h3 class="fs-20 mb-2">Filter Review</h3>
                <form id="accordion-5">
                    <ul class="list-inline mx-n1 mb-5" style="max-width: 610px">
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Foundation
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Coverage
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Skin
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Color
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Shade
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Make up
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Face
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Ingredients
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Moisturizer
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Pure
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                Nature
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <a href="#advanced-search-filters-5"
                               class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500"
                               data-toggle="collapse"
                               data-target="#advanced-search-filters-5" aria-expanded="true"
                               aria-controls="advanced-search-filters-5">
                                ...
                            </a>
                        </li>
                        <li id="advanced-search-filters-5" class="collapse m-1 list-inline-item"
                            data-parent="#accordion-5">
                            <ul class="list-inline mx-n1">
                                <li class="list-inline-item m-1">
                                    <a href="#"
                                       class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                        Good Value
                                    </a>
                                </li>
                                <li class="list-inline-item m-1">
                                    <a href="#"
                                       class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                        Lightweight
                                    </a>
                                </li>
                                <li class="list-inline-item m-1">
                                    <a href="#"
                                       class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                        Smells Great
                                    </a>
                                </li>
                                <li class="list-inline-item m-1">
                                    <a href="#"
                                       class="btn text-body hover-secondary border border-hover-secondary lh-175 py-1 px-3 font-weight-500">
                                        Easy To Use
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="form-row mx-n2">
                        <div class="col-auto w-100 px-2" style="max-width: 406px">
                            <div class="form-group">
                                <div class="input-group-prepend position-absolute z-index-10">
                                    <button class="btn border-0 bg-transparent text-secondary fs-20 px-4 lh-14"
                                            type="submit"><i class="far fa-search"></i></button>
                                </div>
                                <input type="text" class="form-control border-0 pl-8 rounded"
                                       placeholder="Search reviews">
                            </div>
                        </div>
                        <div class="col-auto px-2">
                            <div class="form-group w-195px">
                                <label for="skin-goal" class="sr-only">Skin goal</label>
                                <select class="form-control selectpicker"
                                        title="Skin goal"
                                        data-style="bg-input font-weight-500 text-secondary px-3"
                                        id="skin-goal" name="skin-goal">
                                    <option>Skin goal</option>
                                    <option>Looking Pores</option>
                                    <option>Clear Skin</option>
                                    <option>Chicago</option>
                                    <option>Dewy-Looking Skin</option>
                                    <option>Radiant</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto px-2">
                            <div class="form-group w-195px">
                                <label for="image-video" class="sr-only">Image & Video</label>
                                <select class="form-control selectpicker"
                                        title="Image & Video"
                                        data-style="bg-input font-weight-500 text-secondary px-3"
                                        id="image-video" name="image-video">
                                    <option>Image & Video</option>
                                    <option>Newest</option>
                                    <option>Oldest</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto px-2">
                            <div class="form-group w-195px">
                                <label for="sort-by" class="sr-only">Sort by</label>
                                <select class="form-control selectpicker"
                                        title="Sort by"
                                        data-style="bg-input font-weight-500 text-secondary px-3"
                                        id="sort-by" name="sort-by">
                                    <option>Sort by</option>
                                    <option>Newest</option>
                                    <option>Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-6 mt-lg-8">
            <div class="col-12">
                <h3 class="fs-20 mb-6">2947 Reviews</h3>
            </div>
            <div class="col-12">
                <div class="border-bottom pb-4">
                    <div class="d-flex align-items-center mb-3">
                        <ul class="list-inline d-flex rating-result mb-0 fs-13">
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                        </ul>
                        <span class="divider fs-3 mx-2"><i class="fas fa-circle"></i></span>
                        <span class="fs-14"> 3 days ago</span>
                    </div>
                    <div class="media mb-2">
                        <img src="{{ '/images/single-product-06.png' | document_url }}" class="mr-3"
                             alt="Avatar">
                        <div class="media-body">
                            <h5 class="mt-0 fs-14 text-uppercase">Jennifer C.</h5>
                            <p>/ Orlando, FL</p>
                        </div>
                    </div>
                    <p class="font-weight-600 text-secondary mb-2">Favorite Foundation</p>
                    <p class="mb-6">I order the samples so as not to make mistakes when choosing my color Is a
                        good
                        product as a light
                        shade but the sample doesn’t contain enough product to cover the skin and decide
                        clearly,
                        around
                        my
                        eyes I used the “peach bisque”.I used with primer all mu face and finished texture is
                        good.
                        At
                        the
                        end for my latin tan skin a choose “golden peach” But is out of stock the primer I think
                        is
                        a
                        good
                        match.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="#" class="fs-14 mb-0 text-body">Was This Review Helpful?</a>
                        <p class="mb-0 ml-4 text-secondary">
                            <svg class="icon icon-like align-baseline">
                                <use xlink:href="#icon-like"></use>
                            </svg>
                            10
                        </p>
                        <p class="mb-0 ml-3 text-secondary">
                            <svg class="icon icon-unlike align-baseline">
                                <use xlink:href="#icon-unlike"></use>
                            </svg>
                            0
                        </p>
                    </div>
                </div>
                <div class="border-bottom pt-6 pb-4">
                    <div class="d-flex align-items-center mb-3">
                        <ul class="list-inline d-flex rating-result mb-0 fs-13">
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                        </ul>
                        <span class="divider fs-3 mx-2"><i class="fas fa-circle"></i></span>
                        <span class="fs-14"> 3 days ago</span>
                    </div>
                    <div class="media mb-2">
                        <img src="{{ '/images/single-product-07.png' | document_url }}" class="mr-3"
                             alt="Avatar">
                        <div class="media-body">
                            <h5 class="mt-0 fs-14 text-uppercase">Jennifer C.</h5>
                            <p>/ Georgia</p>
                        </div>
                    </div>
                    <p class="font-weight-600 text-secondary mb-2">Good as light coverage</p>
                    <p class="mb-4">The foundation feels light on my face, and the color matches great. Also the
                        customer service is phenomenal. I would purchase again.</p>
                    <div class="d-flex mb-4">
                        <img src="{{ '/images/single-product-11.jpg' | document_url }}" alt="review">
                        <img class="ml-2" src="{{ '/images/single-product-10.jpg' | document_url }}"
                             alt="review">
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="#" class="fs-14 mb-0 text-body">Was This Review Helpful?</a>
                        <p class="mb-0 ml-4 text-secondary">
                            <svg class="icon icon-like align-baseline">
                                <use xlink:href="#icon-like"></use>
                            </svg>
                            10
                        </p>
                        <p class="mb-0 ml-3 text-secondary">
                            <svg class="icon icon-unlike align-baseline">
                                <use xlink:href="#icon-unlike"></use>
                            </svg>
                            0
                        </p>
                    </div>
                </div>
                <div class="border-bottom pt-6 pb-4">
                    <div class="d-flex align-items-center mb-3">
                        <ul class="list-inline d-flex rating-result mb-0 fs-13">
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                        </ul>
                        <span class="divider fs-3 mx-2"><i class="fas fa-circle"></i></span>
                        <span class="fs-14"> 3 days ago</span>
                    </div>
                    <div class="media mb-2">
                        <img src="{{ '/images/single-product-09.png' | document_url }}" class="mr-3"
                             alt="Avatar">
                        <div class="media-body">
                            <h5 class="mt-0 fs-14 text-uppercase">Jennifer C.</h5>
                            <p>/ Georgia</p>
                        </div>
                    </div>
                    <p class="font-weight-600 text-secondary mb-2">Favorite Foundation</p>
                    <p class="mb-6">I order the samples so as not to make mistakes when choosing my color Is a
                        good
                        product
                        as a light
                        shade but the sample doesn’t contain enough product to cover the skin and decide
                        clearly,
                        around
                        my
                        eyes I used the “peach bisque”.I used with primer all mu face and finished texture is
                        good.
                        At
                        the
                        end for my latin tan skin a choose “golden peach” But is out of stock the primer I think
                        is
                        a
                        good
                        match.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="#" class="fs-14 mb-0 text-body">Was This Review Helpful?</a>
                        <p class="mb-0 ml-4 text-secondary">
                            <svg class="icon icon-like align-baseline">
                                <use xlink:href="#icon-like"></use>
                            </svg>
                            10
                        </p>
                        <p class="mb-0 ml-3 text-secondary">
                            <svg class="icon icon-unlike align-baseline">
                                <use xlink:href="#icon-unlike"></use>
                            </svg>
                            0
                        </p>
                    </div>
                </div>
                <div class="border-bottom pt-6 pb-4">
                    <div class="d-flex align-items-center mb-3">
                        <ul class="list-inline d-flex rating-result mb-0 fs-13">
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                        </ul>
                        <span class="divider fs-3 mx-2"><i class="fas fa-circle"></i></span>
                        <span class="fs-14"> 3 days ago</span>
                    </div>
                    <div class="media mb-2">
                        <img src="{{ '/images/single-product-08.png' | document_url }}" class="mr-3"
                             alt="Avatar">
                        <div class="media-body">
                            <h5 class="mt-0 fs-14 text-uppercase">Jennifer C.</h5>
                            <p>/ Georgia</p>
                        </div>
                    </div>
                    <p class="font-weight-600 text-secondary mb-2">Favorite Foundation</p>
                    <p class="mb-6">I order the samples so as not to make mistakes when choosing my color Is a
                        good
                        product
                        as a light
                        shade but the sample doesn’t contain enough product to cover the skin and decide
                        clearly,
                        around
                        my
                        eyes I used the “peach bisque”.I used with primer all mu face and finished texture is
                        good.
                        At
                        the
                        end for my latin tan skin a choose “golden peach” But is out of stock the primer I think
                        is
                        a
                        good
                        match.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="#" class="fs-14 mb-0 text-body">Was This Review Helpful?</a>
                        <p class="mb-0 ml-4 text-secondary">
                            <svg class="icon icon-like align-baseline">
                                <use xlink:href="#icon-like"></use>
                            </svg>
                            10
                        </p>
                        <p class="mb-0 ml-3 text-secondary">
                            <svg class="icon icon-unlike align-baseline">
                                <use xlink:href="#icon-unlike"></use>
                            </svg>
                            0
                        </p>
                    </div>
                </div>
                <div class="border-bottom pt-6 pb-4">
                    <div class="d-flex align-items-center mb-3">
                        <ul class="list-inline d-flex rating-result mb-0 fs-13">
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                            <li class="list-inline-item mr-1 lh-1">
                                <span class="text-secondary"><i class="fas fa-star"></i></span>
                            </li>
                        </ul>
                        <span class="divider fs-3 mx-2"><i class="fas fa-circle"></i></span>
                        <span class="fs-14"> 3 days ago</span>
                    </div>
                    <div class="media mb-2">
                        <img src="{{ '/images/single-product-09.png' | document_url }}" class="mr-3"
                             alt="Avatar">
                        <div class="media-body">
                            <h5 class="mt-0 fs-14 text-uppercase">Lucille D</h5>
                            <p>/ Georgia</p>
                        </div>
                    </div>
                    <p class="font-weight-600 text-secondary mb-2">Good as light coverage</p>
                    <p class="mb-4">The foundation feels light on my face, and the color matches great. Also the
                        customer service is phenomenal. I would purchase again.</p>
                    <div class="d-flex mb-4">
                        <img src="{{ '/images/single-product-11.jpg' | document_url }}" alt="review">
                        <img class="ml-2" src="{{ '/images/single-product-10.jpg' | document_url }}"
                             alt="review">
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="#" class="fs-14 mb-0 text-body">Was This Review Helpful?</a>
                        <p class="mb-0 ml-4 text-secondary">
                            <svg class="icon icon-like align-baseline">
                                <use xlink:href="#icon-like"></use>
                            </svg>
                            10
                        </p>
                        <p class="mb-0 ml-3 text-secondary">
                            <svg class="icon icon-unlike align-baseline">
                                <use xlink:href="#icon-unlike"></use>
                            </svg>
                            0
                        </p>
                    </div>
                </div>
                <nav class="pt-8">
                    <ul class="pagination justify-content-center align-items-center mb-0 fs-16 font-weight-600">
                        <li class="page-item fs-18 d-none d-sm-block">
                            <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex"
                               href="#" tabindex="-1"><i class="far fa-angle-double-left"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex"
                               href="#">1</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex"
                               href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex"
                               href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex"
                               href="#">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex"
                               href="#">6</a>
                        </li>
                        <li class="page-item fs-18 d-none d-sm-block">
                            <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex"
                               href="#"><i class="far fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>