<div class="dropdown-menu x-animated x-fadeInUp pt-3 pb-0 pb-xl-3 mw-260px">
    <div class="row px-7">
        <div class="col-6">
            <ul class="p-0">
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-01.html">
                        Home 01
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-02.html">
                        Home 02
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-03.html">
                        Home 03
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-04.html">
                        Home 04
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-05.html">
                        Home 05
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-06.html">
                        Home 06
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-07.html">
                        Home 07
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-08.html">
                        Home 08
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-09.html">
                        Home 09
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="p-0">
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-10.html">
                        Home 10
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-11.html">
                        Home 11
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-12.html">
                        Home 12
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-13.html">
                        Home 13
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-14.html">
                        Home 14
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-15.html">
                        Home 15
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-16.html">
                        Home 16
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-17.html">
                        Home 17
                    </a>
                </li>
                <li class="dropdown-item px-0">
                    <a class="dropdown-link" href="home-18.html">
                        Home 18
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>