<div class="dropdown-menu dropdown-menu-xl px-0 pb-10 pt-5 dropdown-menu-listing overflow-hidden x-animated x-fadeInUp">
    <div class="container container-xxl px-xxl-9 d-block">
        <div class="row">
            <div class="col">
                <!-- Heading -->
                <h4 class="dropdown-header text-secondary fs-18 mb-1 lh-1">
                    Shop Pages
                </h4>
                <!-- List -->
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/shop-page-01.html' | document_url }}">
                        Shop Layout <sup>V1</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link"
                       href="{{ '/shop-page-02.html' | document_url }}">
                        Shop Layout <sup>V2</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/shop-page-03.html' | document_url }}">
                        Shop Layout <sup>V3</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/shop-page-04.html' | document_url }}">
                        Shop Layout <sup>V4</sup>
                    </a>
                </div>
                <!-- List -->
                <div class="dropdown-item">
                    <a class="dropdown-link"
                       href="{{ '/shop-page-05.html' | document_url }}">
                        Shop Layout <sup>V5</sup>
                    </a>
                </div>
            </div>
            <div class="col">
                <!-- Heading -->
                <h4 class="dropdown-header text-secondary fs-18 mb-1 lh-1">
                    Product Page
                </h4>
                <!-- List -->
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-01.html' | document_url }}">
                        Product Detail <sup>V1</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-02.html' | document_url }}">
                        Product Detail <sup>V2</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-03.html' | document_url }}">
                        Product Detail <sup>V3</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-04.html' | document_url }}">
                        Product Detail <sup>V4</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-05.html' | document_url }}">
                        Product Detail <sup>V5</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-06.html' | document_url }}">
                        Product Detail <sup>V6</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-07.html' | document_url }}">
                        Product Detail <sup>V7</sup>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-08.html' | document_url }}">
                        Product Detail <sup>V8</sup>
                    </a>
                </div>
            </div>
            <div class="col">
                <!-- Heading -->
                <h4 class="dropdown-header text-secondary fs-18 mb-1 lh-1">
                    Product Type
                </h4>
                <!-- List -->
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-04.html' | document_url }}">
                        Product Simple
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-05.html' | document_url }}">
                        Product Variable
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-06.html' | document_url }}">
                        Product Time Limit
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/product-detail-08.html' | document_url }}">
                        Product Grouped
                    </a>
                </div>
            </div>
            <div class="col">
                <!-- Heading -->
                <h4 class="dropdown-header text-secondary fs-18 mb-1 lh-1">
                    Shop Pages
                </h4>
                <!-- List -->
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/shopping-cart.html' | document_url }}">
                        Shopping Cart
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/compare.html' | document_url }}">
                        Compare
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/wishlist.html' | document_url }}">
                        Wishlist
                    </a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-link" href="{{ '/checkout.html' | document_url }}">
                        Checkout
                    </a>
                </div>
            </div>
            <div class="col h-100">
                <div class="card border-0 mt-2">
                    <img src="{{'/images/bg-mega-menu.jpg' | document_url }}" alt="bg mega menu" class="card-img">
                    <div class="card-img-overlay d-flex flex-column pt-xxl-7 pb-3 px-xxl-6">
                        <p class="text-secondary letter-spacing-01 font-weight-600 mb-2 text-uppercase">
                            new collection
                        </p>
                        <h3 class="fs-34">Special <br/>Offer</h3>
                        <div class="mt-auto">
                            <a href="{{ '/shop-page-01.html' | document_url }}" class="btn btn-white hover-white bg-hover-secondary border-hover-secondary">Shop Sale</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
