<div class="dropdown-menu p-0 dropdown-menu-listing x-animated x-fadeInUp">
    <!-- Heading -->
    <h4 class="dropdown-header text-secondary fs-16 my-3">
        Shop Pages
    </h4>
    <!-- List -->
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/shop-page-01.html' | document_url }}">
            Shop Layout <sup>V1</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/shop-page-02.html' | document_url }}">
            Shop Layout <sup>V2</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/shop-page-03.html' | document_url }}">
            Shop Layout <sup>V3</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/shop-page-04.html' | document_url }}">
            Shop Layout <sup>V4</sup>
        </a>
    </div>
    <!-- List -->
    <div class="dropdown-item">
        <a class="dropdown-link"
           href="{{ '/shop-page-05.html' | document_url }}">
            Shop Layout <sup>V5</sup>
        </a>
    </div>
    <!-- Heading -->
    <h4 class="dropdown-header text-secondary fs-16 my-3">
        Product Page
    </h4>
    <!-- List -->
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-page-01.html' | document_url }}">
            Product Detail <sup>V1</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-02.html' | document_url }}">
            Product Detail <sup>V2</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-03.html' | document_url }}">
            Product Detail <sup>V3</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-04.html' | document_url }}">
            Product Detail <sup>V4</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-05.html' | document_url }}">
            Product Detail <sup>V5</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-06.html' | document_url }}">
            Product Detail <sup>V6</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-07.html' | document_url }}">
            Product Detail <sup>V7</sup>
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-08.html' | document_url }}">
            Product Detail <sup>V8</sup>
        </a>
    </div>
    <!-- Heading -->
    <h4 class="dropdown-header text-secondary fs-16 my-3">
        Product Type
    </h4>
    <!-- List -->
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-04.html' | document_url }}">
            Product Simple
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-05.html' | document_url }}">
            Product Variable
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-06.html' | document_url }}">
            Product Time Limit
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/product-detail-08.html' | document_url }}">
            Product Grouped
        </a>
    </div>
    <h4 class="dropdown-header text-secondary fs-16 my-3">
        Shop Page
    </h4>
    <!-- List -->
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/shopping-cart.html' | document_url }}">
            Shopping Cart
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/compare.html' | document_url }}">
            Compare
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/wishlist.html' | document_url }}">
            Wishlist
        </a>
    </div>
    <div class="dropdown-item">
        <a class="dropdown-link" href="{{ '/checkout.html' | document_url }}">
           Checkout
        </a>
    </div>
</div>
